@use "mixins";
@use "variables";

@mixin fit-to-page {
	margin: 0 auto;

	// place narrowest item last
	@include mixins.breakpoint(desktop) {
		width: variables.$content-width-desktop;
	}

	@include mixins.breakpoint(tablet) {
		width: variables.$content-width-tablet;
	}

	@include mixins.breakpoint(phone) {
		margin: 0 20px;
		width: calc(100% - 40px);
	}
}
