%wp-menu {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

%wp-menu-links {
	.menu-item a {
		font-weight: normal;

		@include breakpoint(phone) {
			font-weight: bold;
		}
	}
}

%bold-text-links {
	font-weight: bold;
	text-decoration: underline;
}
