// Colors
$white: #fff;
$black: #000;
$error: #ee5c4a;
$error-bg: #fdefed;
$midnight: #18244b;
$grey-dark: #464956;
$grey-medium: #b7bccd;
$grey-light: #f5f6fa;

$banner-bg-dark: #18488f;
$banner-bg-light: #c7e5f8;

// tiles
$box-shadow: rgba(16, 41, 46, 0.17);

// hover states
$tint-percent: 20;

// Sizes
$header-height: 90px;
$border-radius: 4px;
$content-width-tablet: 732px;
$content-width-desktop: 944px;

// mobile tiles
$aspect-ratio: 0.9;
$tile-width-mobile: calc((100vw - 50px) / 2);
$tile-height-mobile: calc((100vw - 50px) / 2 * #{$aspect-ratio});

// mobile tiles - home
$tile-width-mobile-home: calc((100vw - 42px) / 2);
$tile-height-mobile-home: calc((100vw - 42px) / 2 * #{$aspect-ratio});

// tablet tiles
$tile-width-tablet: 171px;
$tile-height-tablet: 158px;

// desktop tiles
$tile-width-desktop: 224px;
$tile-height-desktop: 200px;

$tile-padding-desktop: 14px 33px;
$tile-font-size-desktop: 20px;
$tile-padding-tablet: 14px 12px;
$tile-font-size-tablet: 16px;
