@import "utility/layout";
@import "utility/typography";

.banner {
	.banner-wrapper {
		@include fit-to-page;

		p.learn-more {
			margin-top: 1em;
		}

		.button.learn-more {
			@include button;

			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			display: inline-block;
			padding-top: 1.5px;
			padding-bottom: 1.5px;
			line-height: 40px;
			max-width: 100%;

			@include breakpoint(phone) {
				max-width: calc(100% - 90px);
			}
		}
	}

	p {
		font-size: 18px;
		line-height: 24px;

		a {
			@extend %bold-text-links;
		}
	}

	&.alert {
		padding: 20px 0;

		.learn-more {
			margin-left: 10px;
		}

		.divider {
			padding: 0 5px;
		}

		@include breakpoint(phone) {
			padding: 8px 0 10px;
		}
	}

	&.major {
		min-height: 100px;

		.banner-wrapper {
			display: grid;
			grid-template-columns: minmax(100px, 1fr) 244px; /* banner images are 244px */
			grid-column-gap: 100px;

			@include breakpoint(phone) {
				grid-template-columns: 1fr;
			}

			> :nth-child(1) {
				padding: 30px 0;

				@include breakpoint(phone) {
					padding: 20px 0;
				}
			}
		}

		h2 {
			margin-bottom: 8px;
		}

		img {
			@include breakpoint(phone) {
				display: none;
			}

			align-self: end;
		}
	}
}
