@use "utility/mixins";
@use "utility/variables";

// headings
h1,
h2,
h3,
h4,
h5,
h6 {
	color: variables.$midnight;
}

// Footer
footer {
	background-color: variables.$grey-light;
	color: variables.$midnight;

	a {
		color: variables.$midnight;
	}
}

// Header
header {
	background-color: variables.$white;

	// top nav menu
	a {
		color: variables.$midnight;
	}

	nav {

		@include mixins.breakpoint(phone) {
			background-color: variables.$white;

			.menu-item {
				border-bottom-color: variables.$grey-medium;
			}
		}

		&.current-menu-item,
		&.current-page-ancestor {
			a {
				color: variables.$midnight;
				border-bottom-color: variables.$midnight;
			}
		}
	}
}

// Page
main {
	p,
	ul {
		color: variables.$grey-dark;
	}

	.wp-block-group {
		border-top-color: variables.$midnight;
	}

	hr {
		border-color: variables.$midnight;
	}
}

.page-about-us {
	.wp-block-columns .wp-block-column:last-child {
		border-color: variables.$midnight;
	}
}

// news and press releases
.page-news {
	p + h3::before {
		background-color: variables.$midnight;
	}
}

.contact-form {
	label {
		color: variables.$midnight;
	}

	textarea,
	select,
	input[type="email"],
	input[type="text"] {
		border-color: variables.$grey-medium;

		&.error {
			border-color: variables.$error;
		}
	}

	p.error,
	span.error {
		color: variables.$error;
	}

	p.error {
		background-color: variables.$error-bg;
	}
}

// top nav menu
%wp-menu-links .menu-item a {
	color: variables.$grey-dark;

	&::after {
		background: variables.$grey-dark;
	}
}

// Blocks
.accordion-group {
	.accordion-section-wrapper {
		border-top-color: variables.$midnight;

		&:last-child {
			border-bottom-color: variables.$midnight;
		}

		&.subsection {
			border-top-color: variables.$grey-medium;
		}
	}
}

// button text
.error404 .button,
.button.learn-more,
.contact-form button {
	color: variables.$white;

	// 404 page home button is an <a> tag,
	// and would otherwise hover with the theme color
	&:hover {
		color: variables.$white;
	}
}

// Banner
.banner {
	&.alert {
		background-color: variables.$midnight;

		.banner-wrapper {
			color: variables.$white; // need additional specificity to override scheme text color for homepage banner
		}

		a {
			color: variables.$white;
		}
	}

	// banner -- dark blue
	&.banner-dark {

		@include mixins.banner(variables.$white, variables.$banner-bg-dark, variables.$blue-icon-two, variables.$midnight);
	}

	// banner -- light blue
	&.banner-light {

		@include mixins.banner(variables.$midnight, variables.$banner-bg-light, variables.$blue-icon-two, variables.$midnight);
	}

	// banner -- dark red
	&.banner-dark-red {

		@include mixins.banner(variables.$white, variables.$banner-bg-dark-red, variables.$grey-light, variables.$midnight);
	}

	// banner -- light red
	&.banner-light-red {

		@include mixins.banner(variables.$midnight, variables.$banner-bg-light-red, variables.$midnight, variables.$white);
	}

	// banner -- teal
	&.banner-teal {

		@include mixins.banner(variables.$white, variables.$banner-bg-teal, variables.$grey-light, variables.$midnight);
	}
}

// Tiles
.tile-wrapper .tile {
	border-color: variables.$grey-medium;
	color: variables.$midnight;
}

// Block editor
#editor .wp-block-group {
	border-top-color: variables.$black;
}

// numbered list
.numbered-section {
	&::before {
		border-color: variables.$midnight;
		color: variables.$midnight;
	}
}

// Table
figure.wp-block-table {
	table {
		border-color: variables.$grey-light;
		color: variables.$midnight;
	}

	thead {
		background-color: variables.$banner-bg-dark;
		color: variables.$white;
	}

	tr:nth-child(2n) {
		background-color: variables.$grey-light;
	}
}
