@use "utility/layout";
@use "utility/typography";
@use "utility/mixins";
@use "utility/variables";

footer {
	.post-edit-link {
		display: none;
	}

	.footer-content-wrapper,
	.abbreviated-footer {
		padding: 32px 0;

		@include layout.fit-to-page;
	}

	.footer-content-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 5em;

		@include mixins.breakpoint(phone) {
			grid-template-columns: 1fr;

			.footer-sub-menu {
				display: none;
			}
		}
	}

	.abbreviated-footer {
		display: flex;
		justify-content: space-between;

		* {
			line-height: 22px;
		}
	}

	h3 {
		font-size: 21px;
		font-weight: 600;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}

	@include mixins.breakpoint(phone) {
		h3 {
			border-bottom: 4px solid variables.$midnight;
		}

		div + div h3 {
			margin-top: 2em;
		}
	}

	p,
	.info-item,
	.menu-item {
		font-size: 14px;
	}

	.office-title {
		font-size: 17px;
		font-weight: 600;
	}

	.info-item,
	.menu-item {
		line-height: 18px;
		margin-top: 0;
	}

	ul.info-item {
		list-style: none;
		padding-left: 0;
	}

	.hours {
		margin-top: 1em;
	}

	.social {
		a {
			font-weight: 600;
		}
	}

	a:hover {
		text-decoration: underline;
	}

	.menu {

		@extend %wp-menu;
		@extend %wp-menu-links;
	}
}
