@import "utility/layout";
@import "utility/typography";

footer {
	.post-edit-link {
		display: none;
	}

	.footer-content-wrapper,
	.abbreviated-footer {
		@include fit-to-page;

		padding: 32px 0;
	}

	.footer-content-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 170px;
		grid-column-gap: 16px;

		@include breakpoint(phone) {
			grid-template-columns: 1fr;

			.footer-sub-menu {
				display: none;
			}
		}
	}

	.abbreviated-footer {
		display: flex;
		justify-content: space-between;

		* {
			line-height: 22px;
		}
	}

	p,
	.info-item,
	.menu-item {
		font-size: 14px;
	}

	.office-title {
		font-weight: 600;
		margin-bottom: 10px;
		line-height: 22px;
	}

	.info-item,
	.menu-item {
		line-height: 18px;

		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	ul.info-item {
		list-style: none;
		padding-left: 0;

		li {
			display: inline;
			font-weight: 600;

			+ li::before {
				content: " | ";
				padding: 0 5px;
			}
		}
	}

	a:hover {
		text-decoration: underline;
	}

	.menu {
		@extend %wp-menu;
		@extend %wp-menu-links;
	}
}
