figure.wp-block-table {
	margin: 0;
	padding: 8px 0;

	table {
		border-width: 1px;
		border-style: solid;
		border-spacing: 0;
	}

	thead {
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 1px;
	}

	th {
		padding: 4px 16px;
	}

	td {
		padding: 16px;
	}

	th,
	td {
		vertical-align: top;
	}
}
