@mixin theme($button-link, $banner-link, $focus) {
	main {
		h3,
		p,
		ul {
			a {
				color: $button-link;

				&:hover {
					color: mix($black, $button-link, $tint-percent);
				}
			}
		}
	}

	*:focus {
		outline-color: $focus;
	}

	// contact form button
	.contact-form button {
		background-color: $button-link;

		&:hover {
			background-color: mix($black, $button-link, $tint-percent);
		}
	}

	// arrow
	.accordion-group .accordion-section-header::after {
		border-color: $button-link;

		&:hover {
			border-color: mix($black, $button-link, $tint-percent);
		}
	}

	// alert banner
	.alert .learn-more {
		color: $banner-link;

		&:hover {
			color: mix($black, #55d5f1, $tint-percent);
		}
	}

	// tiles
	.tile-wrapper .tile:hover {
		color: $button-link;
		box-shadow: 0 0 7px $box-shadow;
	}

	// mobile nav
	.icon-bar {
		background-color: $button-link;
	}
}

.theme-blue {

	@include theme($blue-button-link, $blue-banner-link, $blue-focus);
}

.theme-green {

	@include theme($green-button-link, $green-banner-link, $green-focus);
}
