@mixin theme($button-link, $banner-button, $banner-link, $focus) {

	main {

		h3,
		p,
		ul {

			a {
				color: $button-link;

				&:hover {
					color: mix(black, $button-link, $tint-percent);
				}
			}
		}
	}

	*:focus {
		outline-color: $focus;
	}

	// contact form button
	.contact-form button {
		background-color: $button-link;

		&:hover {
			background-color: mix(black, $button-link, $tint-percent);
		}
	}

	// arrow
	.accordion-group .accordion-section-header::after {
		border-color: $button-link;

		&:hover {
			border-color: mix(black, $button-link, $tint-percent);
		}
	}

	// main banner
	&.error404 .button,
	.button.learn-more {
		background-color: $banner-button;

		&:hover {
			background-color: mix(black, $banner-button, $tint-percent);
		}
	}

	// alert banner
	.alert .learn-more {
		color: $banner-link;

		&:hover {
			color: mix(black, #55d5f1, $tint-percent);
		}
	}

	// tiles
	.tile-wrapper .tile:hover {
		color: $button-link;
		box-shadow: 0 0 7px $box-shadow;
	}

	// mobile nav
	.icon-bar {
		background-color: $button-link;
	}
}

// blue
$blue-button-link: #0b4faf;
$blue-icon-one: #5cd5ee;
$blue-icon-two: #ec5d4f;
$blue-icon-three: #b8493e;
$blue-banner-link: #55d5f1;
$blue-focus: #55d5f1;

.theme-blue {

	@include theme($blue-button-link, $blue-icon-two, $blue-banner-link, $blue-focus);
}

// green
$green-button-link: #15948b;
$green-icon-one: #6dd9cc;
$green-icon-two: #fd6d3a;
$green-icon-three: #b04b28;
$green-banner-link: #67dacc;
$green-focus: #67dacc;

.theme-green {

	@include theme($green-button-link, $green-button-link, $green-banner-link, $green-focus);
}
