@use "sass:color";
@use "utility/variables";

@mixin theme($button-link, $banner-link, $focus) {
	main {
		h3,
		p,
		ul {
			a {
				color: $button-link;

				&:hover {
					color: color.mix(variables.$black, $button-link, variables.$tint-percent);
				}
			}
		}
	}

	*:focus {
		outline-color: $focus;
	}

	// contact form button
	.contact-form button {
		background-color: $button-link;

		&:hover {
			background-color: color.mix(variables.$black, $button-link, variables.$tint-percent);
		}
	}

	// arrow
	.accordion-group .accordion-section-header::after {
		border-color: $button-link;

		&:hover {
			border-color: color.mix(variables.$black, $button-link, variables.$tint-percent);
		}
	}

	// alert banner
	.alert .learn-more {
		color: $banner-link;

		&:hover {
			color: color.mix(variables.$black, #55d5f1, variables.$tint-percent);
		}
	}

	// tiles
	.tile-wrapper .tile:hover {
		color: $button-link;
		box-shadow: 0 0 7px variables.$box-shadow;
	}

	// mobile nav
	.icon-bar {
		background-color: $button-link;
	}
}

.theme-blue {

	@include theme(variables.$blue-button-link, variables.$blue-banner-link, variables.$blue-focus);
}

.theme-green {

	@include theme(variables.$green-button-link, variables.$green-banner-link, variables.$green-focus);
}
