/** Only import styles necessary for block editing **/
@use "utility/variables";
@use "utility/mixins";
@use "blocks/numbered-section-block-editor";
@use "blocks/tile-nav-block-editor";
@use "blocks/office-info";
@use "blocks/accordion-block-editor";
@use "blocks/read-more-block-editor";

#editor {
	.wp-block-group {
		border-top-width: 3px;
		border-top-style: solid;
		width: variables.$content-width-desktop;

		@include mixins.breakpoint(tablet) {
			width: variables.$content-width-tablet;
		}
	}

	.wp-block-group,
	.wp-block {
		max-width: variables.$content-width-desktop;

		@include mixins.breakpoint(tablet) {
			max-width: variables.$content-width-tablet;
		}
	}
}
