@import "utility/variables";
@import "utility/mixins";
@import "utility/layout";
@import "blocks/tile-nav-block";
@import "blocks/office-info";
@import "banner";
@import "header";
@import "footer";
@import "news";
@import "table";
@import "form";
@import "page";
@import "misc";
@import "blocks/numbered-section-block";
@import "blocks/accordion-block";
@import "blocks/read-more-block";
@import "colors";
@import "themes";

* {
	font-family: $sans-serif;
}

*:focus {
	outline-width: 1px;
	outline-style: solid;
}

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;

	&.menu {
		overflow: hidden;
	}

	// make room for admin bar
	&.admin-bar {
		min-height: calc(100vh - 32px);

		@media screen and (max-width: 600px) {
			min-height: calc(100vh - 46px);
		}
	}
}

// match admin-bar.css width, not our width
html #wpadminbar {

	@media screen and (max-width: 600px) {
		position: fixed;
	}
}

main {

	@include fit-to-page;

	.home & {

		@include breakpoint(phone) {
			width: 100%;
			margin: inherit;
		}
	}

	flex-grow: 1;
	align-items: start;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	margin: 0;  // remove pipe spacing
}

h1 {
	font-size: 42px;
	line-height: 58px;
}

h2 {
	font-size: 30px;
	line-height: 38px;
}

header h1,
header .site-title {
	font-size: 20px;
	line-height: 24px;
}

h3 {
	font-size: 18px;
	line-height: 22px;
}

h4 {
	font-size: 16px;
	line-height: 22px;
}

h5 {
	font-size: 14px;
	line-height: 22px;
}

h6 {
	font-size: 16px;
	line-height: 22px;
}

p {
	margin: 0;  // remove pipe spacing
}

a {
	font-style: normal;
	text-decoration: none;
	cursor: pointer;
}

code {
	font-family: monospace;
	background: $grey-medium;
	padding: 10px;
	display: block;
	margin: 20px 0;
}

.error404 {

	main > img {
		float: right;
		padding-left: 20px;
	}
}

.button {

	@include button;

	.error404 & {
		display: inline-block;
		margin-top: 1em;
	}
}

// overrride WPCOM Masterbar and restore pencil icon.
#wpadminbar ul#wp-admin-bar-root-default li#wp-admin-bar-edit > a.ab-item::before {
	content: "\f464";
}
