@mixin breakpoint($class) {
	@if $class == phone {
		@media (max-width: 767px) { @content; }
	}

	@else if $class == desktop {
		@media (min-width: 1024px) { @content; }
	}

	@else {
		@warn "Breakpoint mixin supports: phone and desktop";
	}
}

@mixin button {
	border-radius: 20px;
	border: none;
	padding: 10px 30px;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	cursor: pointer;
}
