// Colors

$white: #fff;
$black: #000;

$grey-1: #4e4e4e;
$grey-2: #d7d8e0;
$grey-3: #b7bcce;
$grey-4: #f5f7fd;
$grey-5: #f5f6fa;

$blue-1: #17234c;
$blue-2: #162147;
$blue-3: #192754;
$blue-4: #002d75;
$blue-pop: #55d5f1;

$body-font: $grey-1;
$body-highlight: $blue-1;

$table-border: $grey-2;
$table-row-bg: $grey-4;
$table-header-bg: $blue-4;
$tile-border: $grey-3;

$banner-font: $blue-2;
$banner-bg: $blue-pop;
$alert-bg: $blue-3;
$footer-bg: $grey-5;

$header-height: 90px;
