// Colors

$white: #fff;
$black: #000;

$rust: #ba483a;
$rose: #ee5c4a;

$blue-dark: #17234c;
$blue-medium: #144691;
$blue-light: #004cb2;

$turquoise: #55d5f1;

$grey-text: #5b5b5b;
$grey-dark: #d7d8e0;
$grey-light: #f4f6ff;

// body text
$body-font: $grey-text;
$body-highlight: $blue-medium;

// table
$table-border: $grey-light;
$table-row-bg: $grey-light;
$table-header-bg: $blue-dark;
$tile-border: $grey-dark;

// accordion
$accordion-section-border: $grey-dark;
$accordion-border: $blue-dark;

// main banner
$banner-font: $white;
$banner-bg: $blue-medium;

// alert banner
$alert-bg: $blue-medium;

// buttons
$button-bg: $rose;
$button-text: $white;

// header
$header-bg: $white;

// footer
$footer-bg: $grey-light;

// Sizes

$header-height: 90px;
