// Colors
$white: #fff;
$black: #000;
$error: #b8493e;
$midnight: #18244b;
$grey-dark: #464956;
$grey-medium: #b7bccd;
$grey-light: #f5f6fa;

$banner-bg-dark: #18488f;
$banner-bg-light: #c7e5f8;

// tiles
$box-shadow: rgba(16, 41, 46, 0.17);

// hover states
$tint-percent: 20;

// Sizes
$header-height: 90px;
$tile-width: 171px;
$tile-height: 158px;
$border-radius: 4px;
