.office-info {
  margin-top: 40px;
  margin-left: 10px;
}

@media (max-width: 767px) {
  .office-info {
    margin-left: 45px;
  }
}

.office-info h5 {
  margin-bottom: 0;
  margin-top: 40px;
}

.office-info h5::before {
  content: '';
  background-repeat: no-repeat;
  display: inline-block;
  height: 35px;
  width: 50px;
  margin-left: -40px;
  margin-bottom: -14px;
}

.office-info h5 + p {
  margin-top: 0;
  margin-left: 10px;
}

.office-info h5.email::before {
  background-image: url(../images/office/email.svg);
}

.office-info h5.hours::before {
  background-image: url(../images/office/email.svg);
}

.office-info h5.location::before {
  background-image: url(../images/office/location.svg);
}

.office-info h5.phone::before {
  background-image: url(../images/office/phone.svg);
}

.contact-form {
  width: 90%;
}

@media (max-width: 767px) {
  .contact-form {
    width: 100%;
  }
}

.contact-form button {
  border-radius: 20px;
  border: none;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.contact-form textarea,
.contact-form select,
.contact-form input[type='text'] {
  font-size: 16px;
  display: block;
  padding: 14px 10px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  width: 100%;
}

@media (max-width: 767px) {
  .contact-form textarea,
  .contact-form select,
  .contact-form input[type='text'] {
    width: 100%;
  }
}

.contact-form label {
  margin-bottom: 5px;
  display: inline-block;
}

.contact-form p + p {
  margin-top: 25px;
}

.contact-form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.contact-form select::-ms-expand {
  display: none;
}

.contact-form p.select-wrapper::after {
  border-style: solid;
  border-width: 0 0 3px 3px;
  content: '';
  display: inline-block;
  height: 8px;
  width: 8px;
  right: 14px;
  position: relative;
  transform: rotate(-45deg);
  vertical-align: top;
  float: right;
  bottom: 32px;
  pointer-events: none;
}

.contact-form span.error,
.contact-form p.error {
  font-weight: bold;
  padding: 5px 10px;
  background-image: url("data:image/svg+xml,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='10' cy='10' r='9' stroke='%23ee5c4a' stroke-width='2'/%3e%3cpath fill='%23ee5c4a' d='M9 5h2v7H9zm0 8h2v2H9z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
}

.contact-form p.error {
  background-position: 8px;
  text-indent: 30px;
}

.contact-form span.error {
  display: block;
  background-position: 0;
  text-indent: 20px;
}

.page-about-us .wp-block-columns .wp-block-column:last-child {
  display: flex;
  justify-content: flex-end;
}

.upload-wrapper .image-thumbnail {
  display: block;
  margin-top: 20px;
}

.upload-wrapper .button + .button {
  margin-left: 10px;
}

#ctcl_topic_list_wrapper > div {
  margin-bottom: 10px;
}

#ctcl_topic_list_wrapper .button {
  margin-left: 10px;
}

@media (min-width: 1025px) {
  .ctcl-settings .form-table textarea,
  .ctcl-settings .form-table input[type='text'],
  .ctcl-settings .form-table input[type='email'],
  .ctcl-settings .form-table input[type='password'],
  .ctcl-settings .form-table input[type='tel'],
  .ctcl-settings .form-table input[type='number'],
  .ctcl-settings .form-table input[type='url'],
  .ctcl-settings .form-table select {
    width: 350px;
  }
}

@media (max-width: 767px) {
  .ctcl-settings .form-table textarea,
  .ctcl-settings .form-table input[type='text'],
  .ctcl-settings .form-table input[type='email'],
  .ctcl-settings .form-table input[type='password'],
  .ctcl-settings .form-table input[type='tel'],
  .ctcl-settings .form-table input[type='number'],
  .ctcl-settings .form-table input[type='url'],
  .ctcl-settings .form-table select {
    width: 100%;
  }
}

.prefix {
  margin-left: -15px;
  width: 15px;
  display: inline-block;
}

figure.wp-block-table {
  margin: 0;
  padding: 8px 0;
}

figure.wp-block-table table {
  border-width: 1px;
  border-style: solid;
  border-spacing: 0;
}

figure.wp-block-table thead {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

figure.wp-block-table th {
  padding: 4px 16px;
}

figure.wp-block-table td {
  padding: 16px;
}

figure.wp-block-table th,
figure.wp-block-table td {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #18244b;
}

footer {
  background-color: #f5f6fa;
  color: #18244b;
}

footer a {
  color: #18244b;
}

header {
  background-color: #fff;
}

header a {
  color: #18244b;
}

@media (max-width: 767px) {
  header menu {
    background-color: #fff;
  }
  header menu .menu-item {
    border-bottom-color: #b7bccd;
  }
}

header menu.current-menu-item a, header menu.current-page-ancestor a {
  color: #18244b;
}

main p,
main ul {
  color: #464956;
}

main .wp-block-group {
  border-top-color: #18244b;
}

main hr {
  border-color: #18244b;
}

.contact-form label {
  color: #18244b;
}

.contact-form p {
  margin-bottom: 32px;
}

.contact-form textarea,
.contact-form select,
.contact-form input[type='text'] {
  border-color: #b7bccd;
}

.contact-form textarea.error,
.contact-form select.error,
.contact-form input[type='text'].error {
  border-color: #ee5c4a;
}

.contact-form p.error,
.contact-form span.error {
  color: #ee5c4a;
}

.contact-form p.error {
  background-color: #fdefed;
}

.accordion-group .accordion-section-wrapper {
  border-top-color: #18244b;
}

.accordion-group .accordion-section-wrapper:last-child {
  border-bottom-color: #18244b;
}

.accordion-group .accordion-section-wrapper.subsection {
  border-top-color: #464956;
}

.error404 .button,
.button.learn-more,
.contact-form button {
  color: #fff;
}

.error404 .button:hover,
.button.learn-more:hover,
.contact-form button:hover {
  color: #fff;
}

.banner.alert {
  background-color: #18244b;
}

.banner.alert .banner-wrapper {
  color: #fff;
}

.banner.alert a {
  color: #fff;
}

.banner.banner-dark {
  color: #fff;
}

.banner.banner-dark h2 {
  color: #fff;
}

.banner.banner-dark.major {
  background-color: #18488f;
}

.banner.banner-light {
  color: #18244b;
}

.banner.banner-light h2 {
  color: #18244b;
}

.banner.banner-light.major {
  background-color: #c7e5f8;
}

.tile-wrapper .tile {
  border-color: #b7bccd;
  color: #18244b;
}

#editor .wp-block-group {
  border-top-color: #000;
}

.numbered-section::before {
  border-color: #18244b;
  color: #18244b;
}

figure.wp-block-table table {
  border-color: #f5f6fa;
  color: #18244b;
}

figure.wp-block-table thead {
  background-color: #18488f;
  color: #fff;
}

figure.wp-block-table tr:nth-child(2n) {
  background-color: #f5f6fa;
}

.theme-blue main p a,
.theme-blue main ul a {
  color: #0b4faf;
}

.theme-blue main p a:hover,
.theme-blue main ul a:hover {
  color: #093f8c;
}

.theme-blue .contact-form button {
  background-color: #0b4faf;
}

.theme-blue .contact-form button:hover {
  background-color: #093f8c;
}

.theme-blue .accordion-group .accordion-section-header::after {
  border-color: #0b4faf;
}

.theme-blue .accordion-group .accordion-section-header::after:hover {
  border-color: #093f8c;
}

.theme-blue.error404 .button,
.theme-blue .button.learn-more {
  background-color: #ec5d4f;
}

.theme-blue.error404 .button:hover,
.theme-blue .button.learn-more:hover {
  background-color: #bd4a3f;
}

.theme-blue .alert .learn-more {
  color: #55d5f1;
}

.theme-blue .alert .learn-more:hover {
  color: #44aac1;
}

.theme-blue .tile-wrapper .tile:hover {
  color: #0b4faf;
  box-shadow: 0 0 7px rgba(16, 41, 46, 0.17);
}

.theme-blue .icon-bar {
  background-color: #0b4faf;
}

.theme-green main p a,
.theme-green main ul a {
  color: #15948b;
}

.theme-green main p a:hover,
.theme-green main ul a:hover {
  color: #11766f;
}

.theme-green .contact-form button {
  background-color: #15948b;
}

.theme-green .contact-form button:hover {
  background-color: #11766f;
}

.theme-green .accordion-group .accordion-section-header::after {
  border-color: #15948b;
}

.theme-green .accordion-group .accordion-section-header::after:hover {
  border-color: #11766f;
}

.theme-green.error404 .button,
.theme-green .button.learn-more {
  background-color: #15948b;
}

.theme-green.error404 .button:hover,
.theme-green .button.learn-more:hover {
  background-color: #11766f;
}

.theme-green .alert .learn-more {
  color: #67dacc;
}

.theme-green .alert .learn-more:hover {
  color: #44aac1;
}

.theme-green .tile-wrapper .tile:hover {
  color: #15948b;
  box-shadow: 0 0 7px rgba(16, 41, 46, 0.17);
}

.theme-green .icon-bar {
  background-color: #15948b;
}