.office-info {
  margin-top: 10px;
}

.office-info h4 {
  margin-bottom: 0;
  margin-top: 40px;
}

.office-info h4::before {
  content: '';
  background-repeat: no-repeat;
  display: inline-block;
  height: 35px;
  width: 50px;
  margin-left: -40px;
  margin-bottom: -20px;
}

.office-info h4 + p {
  margin-top: 0;
  margin-left: 10px;
}

.office-info h4.email::before {
  background-image: url(../images/office/email.svg);
}

.office-info h4.hours::before {
  background-image: url(../images/office/email.svg);
}

.office-info h4.location::before {
  background-image: url(../images/office/location.svg);
}

.office-info h4.phone::before {
  background-image: url(../images/office/phone.svg);
}

.office-info a {
  text-decoration: none;
  font-weight: normal;
}

.contact-form button {
  border-radius: 20px;
  border: none;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.contact-form textarea,
.contact-form select,
.contact-form input[type='text'] {
  width: 75%;
  display: block;
  padding: 5px 10px;
  box-sizing: border-box;
}

.upload-wrapper .image-thumbnail {
  display: block;
  margin-top: 20px;
}

.upload-wrapper .button + .button {
  margin-left: 10px;
}

#topic_list_wrapper > div {
  margin-bottom: 10px;
}

#topic_list_wrapper .button {
  margin-left: 10px;
}

.prefix {
  margin-left: -15px;
  width: 15px;
  display: inline-block;
}

figure.wp-block-table {
  margin: 0;
  padding: 8px 0;
}

figure.wp-block-table table {
  border-width: 1px;
  border-style: solid;
  border-spacing: 0;
}

figure.wp-block-table thead {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

figure.wp-block-table th {
  padding: 4px 16px;
}

figure.wp-block-table td {
  padding: 16px;
}

figure.wp-block-table th,
figure.wp-block-table td {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #18244b;
}

header {
  background-color: #fff;
}

header a {
  color: #18244b;
}

footer {
  background-color: #f5f6fa;
  color: #18244b;
}

footer a {
  color: #18244b;
}

main p,
main ul {
  color: #464956;
}

main .wp-block-group {
  border-top-color: #18244b;
}

main hr {
  border-color: #18244b;
}

.accordion-group .accordion-section-wrapper {
  border-top-color: #18244b;
}

.accordion-group .accordion-section-wrapper:last-child {
  border-bottom-color: #18244b;
}

.accordion-group .accordion-section-wrapper.subsection {
  border-top-color: #464956;
}

.button.learn-more,
.contact-form button {
  color: #fff;
}

.banner.alert {
  background-color: #18244b;
}

.banner.alert .banner-wrapper {
  color: #fff;
}

.banner.alert a {
  color: #fff;
}

.banner.banner-dark {
  color: #fff;
}

.banner.banner-dark h2 {
  color: #fff;
}

.banner.banner-dark.major {
  background-color: #18488f;
}

.banner.banner-light {
  color: #18244b;
}

.banner.banner-light h2 {
  color: #18244b;
}

.banner.banner-light.major {
  background-color: #c7e5f8;
}

.tile-wrapper .tile {
  border-color: #b7bccd;
  color: #18244b;
}

#editor .wp-block-group {
  border-top-color: #000;
}

.numbered-section::before {
  border-color: #18244b;
  color: #18244b;
}

figure.wp-block-table table {
  border-color: #f5f6fa;
  color: #18244b;
}

figure.wp-block-table thead {
  background-color: #18244b;
  color: #fff;
}

figure.wp-block-table tr:nth-child(2n) {
  background-color: #f5f6fa;
}

.theme-blue main p a,
.theme-blue main ul a {
  color: #0b4faf;
}

.theme-blue .contact-form button {
  background-color: #0b4faf;
}

.theme-blue .accordion-group .accordion-section-header::after {
  border-color: #0b4faf;
}

.theme-blue .button.learn-more {
  background-color: #ec5d4f;
}

.theme-green main p a,
.theme-green main ul a {
  color: #15948b;
}

.theme-green .contact-form button {
  background-color: #15948b;
}

.theme-green .accordion-group .accordion-section-header::after {
  border-color: #15948b;
}

.theme-green .button.learn-more {
  background-color: #15948b;
}