/** Only import styles necessary for block editing **/
#editor {
  counter-reset: numbered-section-editor;
}

.numbered-section-block-editor-counter::before {
  /* counter-increment: none; */
  counter-increment: numbered-section-editor;
  content: counter(numbered-section-editor);
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: lightgrey;
  border: 3px solid lightgrey;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 24px;
}

.numbered-section-block-editor {
  display: flex;
}

.numbered-section-block-editor-counter,
.numbered-section-block-editor-content {
  display: inline-block;
}

.numbered-section-block-editor-content {
  margin-left: 25px;
  width: 100%;
  margin-top: -28px;
}

.tile-wrapper .tile, .tile-nav-block-editor .tile {
  border-width: 1px;
  border-style: solid;
  display: grid;
  grid-template-rows: 50px 40px;
  align-content: center;
  justify-content: center;
  grid-row-gap: 18px;
  width: 224px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 14px 42px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 350px) {
  .tile-wrapper .tile, .tile-nav-block-editor .tile {
    width: 40vw;
    height: 40vw;
  }
}

.tile-wrapper .tile img, .tile-nav-block-editor .tile img {
  margin: 0 auto;
}

.tile-wrapper .tile span, .tile-nav-block-editor .tile span {
  max-width: 115px;
}

.tile-wrapper .tile[target='_blank'], .tile-nav-block-editor .tile[target='_blank'] {
  background-position: 97% 3%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3csvg width='21' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.933 4.666a.688.688 0 00-.688.696c.004.381.313.69.694.694l5.205.022-9.2 9.2c-.27.27-.269.71.004.984a.696.696 0 00.983.004l9.104-9.104.02 4.962c0 .384.311.699.695.703a.689.689 0 00.697-.689v-.008l-.028-6.738a.702.702 0 00-.699-.699l-6.787-.027z' fill='%237F88A4' stroke='%237F88A4' stroke-width='.6'/%3e%3c/svg%3e");
}

.tile-wrapper {
  display: inline-grid;
  grid-template-columns: repeat(4, 224px);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.tile-wrapper {
  margin: 24px 0;
}

.home .tile-wrapper {
  margin: 16px 0;
}

@media (max-width: 767px) {
  .tile-wrapper {
    grid-template-columns: repeat(2, 224px);
  }
}

@media (max-width: 350px) {
  .tile-wrapper {
    grid-template-columns: repeat(2, 40vw);
  }
}

.tile-nav-block-editor .placeholder {
  color: #b7bccd;
}

.tile-nav-block-editor ::before {
  width: 252px;
}

.tile-nav-section-block-editor .block-editor-block-list__block {
  margin: 0;
}

.tile-nav-section-block-editor .block-editor-block-list__layout {
  display: grid;
  grid-template-columns: repeat(4, 224px);
  grid-column-gap: 16px;
  grid-row-gap: 18px;
}

.tile-nav-section-block-editor .block-list-appender {
  margin: auto;
}

.tile-nav-section-block-editor .block-list-appender button {
  width: 224px;
  height: 200px;
  margin: auto;
}

.tile-nav-block-editor-wrapper[data-type="ctcl-election-website/tile-nav-section-block"]::before {
  width: 972px;
}

.tile-nav-settings .components-base-control {
  display: block;
  margin-bottom: 16px;
}

.tile-nav-settings .components-base-control .components-base-control__field {
  margin-bottom: 0;
}

.tile-nav-settings div[class*="__suggestions"] {
  width: auto;
}

.tile-nav-settings .components-panel__row {
  display: block;
}

.tile-nav-settings .components-panel__row input[type="text"] {
  width: 100%;
}

.tile-nav-settings .components-popover:not([data-y-axis="middle"])[data-x-axis="left"] .components-popover__content {
  margin-right: -134px;
}

.office-info {
  margin-top: 40px;
  margin-left: 10px;
}

@media (max-width: 767px) {
  .office-info {
    margin-left: 45px;
  }
}

.office-info h5 {
  margin-bottom: 0;
  margin-top: 40px;
}

.office-info h5::before {
  content: '';
  background-repeat: no-repeat;
  display: inline-block;
  height: 35px;
  width: 50px;
  margin-left: -40px;
  margin-bottom: -14px;
}

.office-info h5 + p {
  margin-top: 0;
  margin-left: 10px;
}

.office-info h5.email::before {
  background-image: url(../images/office/email.svg);
}

.office-info h5.hours::before {
  background-image: url(../images/office/email.svg);
}

.office-info h5.location::before {
  background-image: url(../images/office/location.svg);
}

.office-info h5.phone::before {
  background-image: url(../images/office/phone.svg);
}

#editor {
  width: 944px;
  max-width: 944px;
}

#editor .wp-block-group {
  border-top-width: 3px;
  border-top-style: solid;
}

.block-editor-writing-flow {
  width: 1400px;
}