/** Only import styles necessary for block editing **/
#editor {
  counter-reset: numbered-section-editor;
}

.numbered-section-block-editor-counter::before {
  /* counter-increment: none; */
  counter-increment: numbered-section-editor;
  content: counter(numbered-section-editor);
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: lightgrey;
  border: 3px solid lightgrey;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 24px;
}

.numbered-section-block-editor {
  display: flex;
}

.numbered-section-block-editor-counter,
.numbered-section-block-editor-content {
  display: inline-block;
}

.numbered-section-block-editor-content {
  margin-left: 25px;
  width: 100%;
  margin-top: -28px;
}

.tile-nav-block-editor {
  background: lightgrey;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  align-items: center;
}

.tile-nav-block-editor .components-base-control {
  margin-bottom: 0;
}

.tile-nav-block-editor .components-base-control__field {
  display: flex;
  flex-direction: column;
}

.tile-nav-block-editor .components-base-control__field label {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin-bottom: 4px;
  line-height: normal;
}

.tile-nav-block-editor .components-base-control__field [class*="-control__input"],
.tile-nav-block-editor .components-base-control__field input {
  width: auto;
  border: none;
  border-radius: 0;
  padding: 8px;
  line-height: normal;
  font-size: 13px;
  height: 35px;
  margin: 0;
}

.tile-nav-block-editor .components-base-control__field .wp-core-ui select {
  font-size: 13px;
}

.tile-nav-block-editor .block-editor-url-input .components-base-control__field input {
  width: auto;
}

.office-info {
  margin-top: 10px;
}

.office-info h4 {
  margin-bottom: 0;
  margin-top: 40px;
}

.office-info h4::before {
  content: '';
  background-repeat: no-repeat;
  display: inline-block;
  height: 35px;
  width: 50px;
  margin-left: -40px;
  margin-bottom: -20px;
}

.office-info h4 + p {
  margin-top: 0;
  margin-left: 10px;
}

.office-info h4.email::before {
  background-image: url(../images/office/email.svg);
}

.office-info h4.hours::before {
  background-image: url(../images/office/email.svg);
}

.office-info h4.location::before {
  background-image: url(../images/office/location.svg);
}

.office-info h4.phone::before {
  background-image: url(../images/office/phone.svg);
}

.office-info a {
  text-decoration: none;
  font-weight: normal;
}

#editor .wp-block-group {
  border-top-width: 3px;
  border-top-style: solid;
}