.banner .banner-wrapper, header .header-wrapper, footer .footer-content-wrapper,
footer .abbreviated-footer, main {
  margin: 0 20px;
}

@media (min-width: 1024px) {
  .banner .banner-wrapper, header .header-wrapper, footer .footer-content-wrapper,
  footer .abbreviated-footer, main {
    margin: 0 auto;
    width: 732px;
  }
}

.tile-wrapper {
  display: inline-grid;
  grid-template-columns: repeat(4, 171px);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin: 24px 0;
}

.home .tile-wrapper {
  margin: 16px 0;
}

@media (max-width: 767px) {
  .tile-wrapper {
    margin: 0;
    grid-template-columns: repeat(2, 171px);
  }
}

@media (max-width: 350px) {
  .tile-wrapper {
    grid-template-columns: repeat(2, 40vw);
  }
}

.tile-wrapper .tile {
  border-width: 1px;
  border-style: solid;
  display: grid;
  grid-template-rows: 50px 40px;
  align-content: center;
  justify-content: center;
  grid-row-gap: 18px;
  width: 171px;
  height: 158px;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 14px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 350px) {
  .tile-wrapper .tile {
    width: 40vw;
    height: 40vw;
  }
}

.tile-wrapper .tile img {
  margin: 0 auto;
}

.tile-wrapper .tile span {
  max-width: 100px;
}

.office-info {
  margin-top: 45px;
}

@media (max-width: 767px) {
  .office-info {
    margin-left: 45px;
  }
}

.office-info h4 {
  margin-bottom: 0;
  margin-top: 40px;
}

.office-info h4::before {
  content: '';
  background-repeat: no-repeat;
  display: inline-block;
  height: 35px;
  width: 50px;
  margin-left: -40px;
  margin-bottom: -20px;
}

.office-info h4 + p {
  margin-top: 0;
  margin-left: 10px;
}

.office-info h4.email::before {
  background-image: url(../images/office/email.svg);
}

.office-info h4.hours::before {
  background-image: url(../images/office/email.svg);
}

.office-info h4.location::before {
  background-image: url(../images/office/location.svg);
}

.office-info h4.phone::before {
  background-image: url(../images/office/phone.svg);
}

.office-info a {
  text-decoration: none;
  font-weight: normal;
}

.banner .banner-wrapper, header .header-wrapper, footer .footer-content-wrapper,
footer .abbreviated-footer, main {
  margin: 0 20px;
}

@media (min-width: 1024px) {
  .banner .banner-wrapper, header .header-wrapper, footer .footer-content-wrapper,
  footer .abbreviated-footer, main {
    margin: 0 auto;
    width: 732px;
  }
}

header .menu, footer .menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

header .menu .menu-item a, footer .menu .menu-item a {
  font-weight: normal;
}

.banner p a, main p a,
main ul a {
  font-weight: bold;
  text-decoration: underline;
}

.banner .banner-wrapper p.learn-more {
  margin-top: 1em;
}

.banner .banner-wrapper .button.learn-more {
  border-radius: 20px;
  border: none;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  line-height: 60px;
}

.banner p {
  font-size: 16px;
  line-height: 24px;
}

.banner.alert {
  padding: 20px 0;
}

.banner.alert .learn-more {
  margin-left: 10px;
}

@media (max-width: 767px) {
  .banner.alert {
    padding: 8px 0 10px;
  }
}

.banner.major {
  min-height: 100px;
}

.banner.major .banner-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 100px;
}

@media (max-width: 767px) {
  .banner.major .banner-wrapper {
    grid-template-columns: 1fr;
  }
}

.banner.major .banner-wrapper > :nth-child(1) {
  padding: 34px 0;
  justify-content: center;
}

@media (max-width: 767px) {
  .banner.major .banner-wrapper > :nth-child(1) {
    padding: 20px 0;
  }
}

.banner.major .banner-wrapper > :nth-child(2) {
  justify-self: baseline;
}

.banner.major h2 {
  margin-bottom: 8px;
}

.banner.major img {
  margin-top: 24px;
}

@media (max-width: 767px) {
  .banner.major img {
    display: none;
  }
}

.banner .banner-wrapper, header .header-wrapper, footer .footer-content-wrapper,
footer .abbreviated-footer, main {
  margin: 0 20px;
}

@media (min-width: 1024px) {
  .banner .banner-wrapper, header .header-wrapper, footer .footer-content-wrapper,
  footer .abbreviated-footer, main {
    margin: 0 auto;
    width: 732px;
  }
}

header .menu, footer .menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

header .menu .menu-item a, footer .menu .menu-item a {
  font-weight: normal;
}

.banner p a, main p a,
main ul a {
  font-weight: bold;
  text-decoration: underline;
}

header {
  box-shadow: 0 1px 4px -1px rgba(28, 48, 74, 0.25);
  width: 100%;
  height: 90px;
  z-index: 1;
  position: fixed;
}

header .header-wrapper {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  align-items: center;
  padding: 16px 0;
}

@media (max-width: 767px) {
  header .header-wrapper {
    grid-template-columns: -webkit-max-content;
    grid-template-columns: max-content;
  }
}

header .site-title-wrapper {
  display: flex;
  align-items: center;
  max-width: 250px;
}

header img,
header .site-title {
  display: inline-block;
}

header img {
  margin-right: 16px;
}

header [class$="-container"] {
  display: inline-block;
  justify-self: flex-end;
}

@media (max-width: 767px) {
  header [class$="-container"] {
    display: none;
  }
}

header .menu .menu-item {
  font-size: 15px;
  line-height: 19px;
  display: inline-block;
  margin-left: 24px;
}

header .menu .menu-item a {
  position: relative;
}

header .menu .menu-item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 1px;
  transition: width 0.3s ease 0s, width 0.3s ease 0s;
}

header .menu .menu-item a:hover::after {
  width: 100%;
}

header .menu .menu-item.current-menu-item {
  pointer-events: none;
}

header .menu .menu-item.current-menu-item a, header .menu .menu-item.current-page-ancestor a {
  font-weight: bold;
}

header + section,
header + main {
  margin-top: 90px;
}

.banner .banner-wrapper, header .header-wrapper, footer .footer-content-wrapper,
footer .abbreviated-footer, main {
  margin: 0 20px;
}

@media (min-width: 1024px) {
  .banner .banner-wrapper, header .header-wrapper, footer .footer-content-wrapper,
  footer .abbreviated-footer, main {
    margin: 0 auto;
    width: 732px;
  }
}

header .menu, footer .menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

header .menu .menu-item a, footer .menu .menu-item a {
  font-weight: normal;
}

.banner p a, main p a,
main ul a {
  font-weight: bold;
  text-decoration: underline;
}

footer .footer-content-wrapper,
footer .abbreviated-footer {
  padding: 32px 0;
}

footer .footer-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 170px;
  grid-column-gap: 16px;
}

@media (max-width: 767px) {
  footer .footer-content-wrapper {
    grid-template-columns: 1fr;
  }
  footer .footer-content-wrapper .footer-sub-menu {
    display: none;
  }
}

footer .abbreviated-footer {
  display: flex;
  justify-content: space-between;
}

footer .abbreviated-footer * {
  line-height: 22px;
}

footer p,
footer .info-item,
footer .menu-item {
  font-size: 14px;
}

footer .section-title {
  margin-bottom: 10px;
  line-height: 22px;
}

footer .info-item,
footer .menu-item {
  line-height: 18px;
}

footer .info-item:not(:last-child),
footer .menu-item:not(:last-child) {
  margin-bottom: 12px;
}

footer ul.info-item {
  list-style: none;
  padding-left: 0;
}

footer ul.info-item li {
  display: inline;
  font-weight: bold;
}

footer ul.info-item li + li::before {
  content: " | ";
  padding: 0 5px;
}

footer a:hover {
  text-decoration: underline;
}

figure.wp-block-table {
  margin: 0;
  padding: 8px 0;
}

figure.wp-block-table table {
  border-width: 1px;
  border-style: solid;
  border-spacing: 0;
}

figure.wp-block-table thead {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

figure.wp-block-table th {
  padding: 4px 16px;
}

figure.wp-block-table td {
  padding: 16px;
}

figure.wp-block-table th,
figure.wp-block-table td {
  vertical-align: top;
}

.contact-form button {
  border-radius: 20px;
  border: none;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.contact-form textarea,
.contact-form select,
.contact-form input[type='text'] {
  width: 75%;
  display: block;
  padding: 5px 10px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
}

.contact-form label {
  margin-bottom: 5px;
  display: inline-block;
}

.contact-form p + p {
  margin-top: 25px;
}

.upload-wrapper .image-thumbnail {
  display: block;
  margin-top: 20px;
}

.upload-wrapper .button + .button {
  margin-left: 10px;
}

#ctcl_topic_list_wrapper > div {
  margin-bottom: 10px;
}

#ctcl_topic_list_wrapper .button {
  margin-left: 10px;
}

@media (min-width: 1024px) {
  .ctcl-settings .form-table textarea,
  .ctcl-settings .form-table input[type='text'],
  .ctcl-settings .form-table input[type='email'],
  .ctcl-settings .form-table input[type='password'],
  .ctcl-settings .form-table input[type='tel'],
  .ctcl-settings .form-table input[type='number'],
  .ctcl-settings .form-table input[type='url'],
  .ctcl-settings .form-table select {
    width: 350px;
  }
}

@media (max-width: 767px) {
  .ctcl-settings .form-table textarea,
  .ctcl-settings .form-table input[type='text'],
  .ctcl-settings .form-table input[type='email'],
  .ctcl-settings .form-table input[type='password'],
  .ctcl-settings .form-table input[type='tel'],
  .ctcl-settings .form-table input[type='number'],
  .ctcl-settings .form-table input[type='url'],
  .ctcl-settings .form-table select {
    width: 100%;
  }
}

header .menu, footer .menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

header .menu .menu-item a, footer .menu .menu-item a {
  font-weight: normal;
}

.banner p a, main p a,
main ul a {
  font-weight: bold;
  text-decoration: underline;
}

main {
  font-size: 16px;
  line-height: 24px;
  padding: 32px 0;
}

main ul,
main ol {
  margin: 8px 0;
  padding-left: 0;
}

main ul li,
main ol li {
  line-height: 28px;
  list-style-position: inside;
}

main h1:first-child,
main h2:first-child,
main h3:first-child,
main h4:first-child,
main h5:first-child,
main h6:first-child {
  margin-top: 0;
}

main p {
  margin: 8px 0;
}

main .wp-block-group {
  padding: 20px 0;
  border-top-width: 3px;
  border-top-style: solid;
}

main .wp-block-group:first-of-type {
  margin-top: 18px;
}

main .wp-block-group :first-child {
  margin-top: 0;
}

main .wp-block-group :last-child {
  margin-bottom: 0;
}

main hr {
  border-width: 1.5px;
  border-style: solid;
  margin: 30px 0;
}

.home main {
  display: flex;
  justify-content: center;
  padding: 0;
}

main {
  counter-reset: numbered-section;
}

.numbered-section {
  display: flex;
  align-items: flex-start;
}

.numbered-section:not(:first-child) {
  margin-top: 18px;
}

.numbered-section::before {
  counter-increment: numbered-section;
  content: counter(numbered-section);
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  border-width: 3px;
  border-style: solid;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
}

.numbered-section .numbered-section-content {
  display: inline-block;
  margin-left: 18px;
  padding-top: 4px;
}

.numbered-section .numbered-section-content:first-child {
  margin-top: 0;
}

.accordion-group:not(.subsection) {
  margin: 24px 0;
}

.accordion-group .accordion-section-wrapper {
  border-top-width: 3px;
  border-top-style: solid;
}

.accordion-group .accordion-section-wrapper:last-child {
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

.accordion-group .accordion-section-wrapper.subsection {
  border-top-width: 1px;
  border-top-style: solid;
}

.accordion-group .accordion-section-wrapper.subsection:first-child {
  border-top: none;
}

.accordion-group .accordion-section-wrapper.subsection:last-child {
  border-bottom: none;
}

.accordion-group .accordion-section-wrapper .accordion-section-header {
  margin: 18px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.accordion-group .accordion-section-wrapper .accordion-section-header::after {
  border-style: solid;
  border-width: 0 0 3px 3px;
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  right: 5px;
  position: relative;
  transform: rotate(-45deg);
  vertical-align: top;
  transition: all 0.5s;
}

.accordion-group .accordion-section-wrapper h1.accordion-section-header::after {
  top: 0.25em;
}

.accordion-group .accordion-section-wrapper h3.accordion-section-header::after {
  top: 0.25em;
}

.accordion-group .accordion-section-wrapper .accordion-section-header.open::after {
  transform: rotate(-225deg);
}

.accordion-group .accordion-section-wrapper h1.accordion-section-header.open::after {
  top: 0.4em;
}

.accordion-group .accordion-section-wrapper h3.accordion-section-header.open::after {
  top: 0.45em;
}

.accordion-group .accordion-section-wrapper h5.accordion-section-header.open::after {
  top: 0.45em;
}

.accordion-group .accordion-section-wrapper .accordion-section-content {
  padding-bottom: 18px;
}

.accordion-group .accordion-section-wrapper .accordion-section-header:not(.open) + .accordion-section-content {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #18244b;
}

header {
  background-color: #fff;
}

header a {
  color: #18244b;
}

footer {
  background-color: #f5f6fa;
  color: #18244b;
}

footer a {
  color: #18244b;
}

main p,
main ul {
  color: #464956;
}

main .wp-block-group {
  border-top-color: #18244b;
}

main hr {
  border-color: #18244b;
}

.contact-form label {
  color: #18244b;
}

.contact-form textarea,
.contact-form select,
.contact-form input[type='text'] {
  border-color: #18244b;
}

header .menu .menu-item a, footer .menu .menu-item a {
  color: #464956;
}

header .menu .menu-item a::after, footer .menu .menu-item a::after {
  background: #18244b;
}

.accordion-group .accordion-section-wrapper {
  border-top-color: #18244b;
}

.accordion-group .accordion-section-wrapper:last-child {
  border-bottom-color: #18244b;
}

.accordion-group .accordion-section-wrapper.subsection {
  border-top-color: #464956;
}

.button.learn-more,
.contact-form button {
  color: #fff;
}

.banner.alert {
  background-color: #18244b;
}

.banner.alert .banner-wrapper {
  color: #fff;
}

.banner.alert a {
  color: #fff;
}

.banner.banner-dark {
  color: #fff;
}

.banner.banner-dark h2 {
  color: #fff;
}

.banner.banner-dark.major {
  background-color: #18488f;
}

.banner.banner-light {
  color: #18244b;
}

.banner.banner-light h2 {
  color: #18244b;
}

.banner.banner-light.major {
  background-color: #c7e5f8;
}

.tile-wrapper .tile {
  border-color: #b7bccd;
  color: #18244b;
}

#editor .wp-block-group {
  border-top-color: #000;
}

.numbered-section::before {
  border-color: #18244b;
  color: #18244b;
}

figure.wp-block-table table {
  border-color: #f5f6fa;
  color: #18244b;
}

figure.wp-block-table thead {
  background-color: #18488f;
  color: #fff;
}

figure.wp-block-table tr:nth-child(2n) {
  background-color: #f5f6fa;
}

.theme-blue main p a,
.theme-blue main ul a {
  color: #0b4faf;
}

.theme-blue main p a:hover,
.theme-blue main ul a:hover {
  color: #093f8c;
}

.theme-blue .contact-form button {
  background-color: #0b4faf;
}

.theme-blue .contact-form button:hover {
  background-color: #093f8c;
}

.theme-blue .accordion-group .accordion-section-header::after {
  border-color: #0b4faf;
}

.theme-blue .accordion-group .accordion-section-header::after:hover {
  border-color: #093f8c;
}

.theme-blue .button.learn-more {
  background-color: #ec5d4f;
}

.theme-blue .button.learn-more:hover {
  background-color: #bd4a3f;
}

.theme-blue .alert .learn-more {
  color: #55d5f1;
}

.theme-blue .alert .learn-more:hover {
  color: #44aac1;
}

.theme-blue .tile-wrapper .tile:hover {
  color: #0b4faf;
  box-shadow: 0 0 7px rgba(16, 41, 46, 0.17);
}

.theme-green main p a,
.theme-green main ul a {
  color: #15948b;
}

.theme-green main p a:hover,
.theme-green main ul a:hover {
  color: #11766f;
}

.theme-green .contact-form button {
  background-color: #15948b;
}

.theme-green .contact-form button:hover {
  background-color: #11766f;
}

.theme-green .accordion-group .accordion-section-header::after {
  border-color: #15948b;
}

.theme-green .accordion-group .accordion-section-header::after:hover {
  border-color: #11766f;
}

.theme-green .button.learn-more {
  background-color: #15948b;
}

.theme-green .button.learn-more:hover {
  background-color: #11766f;
}

.theme-green .alert .learn-more {
  color: #67dacc;
}

.theme-green .alert .learn-more:hover {
  color: #44aac1;
}

.theme-green .tile-wrapper .tile:hover {
  color: #15948b;
  box-shadow: 0 0 7px rgba(16, 41, 46, 0.17);
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  flex-grow: 1;
  align-items: start;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 38px;
  line-height: 38px;
}

h2 {
  font-size: 30px;
  line-height: 38px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
}

h4 {
  font-size: 20px;
  line-height: 22px;
}

h5 {
  font-size: 18px;
  line-height: 22px;
}

h6 {
  font-size: 16px;
  line-height: 22px;
}

p {
  margin: 0;
}

a {
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}