header, .banner div, footer .footer-content-wrapper, footer .abbreviated-footer {
  width: 70%;
  min-width: 730px;
  max-width: 1000px;
  margin: 0 auto;
}

header .menu, footer .menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  align-items: center;
  padding: 16px 0;
}

header .site-title-wrapper {
  display: grid;
  grid-template-columns: auto 190px;
  align-items: center;
  grid-column-gap: 16px;
}

header img,
header .site-title {
  display: inline-block;
}

header [class$="-container"] {
  display: inline-block;
  justify-self: flex-end;
}

header .site-title {
  color: #000;
}

header .menu .menu-item {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  color: #6E6E6E;
  display: inline-block;
  margin-left: 24px;
}

header .menu .menu-item.current-menu-item {
  font-weight: bold;
}

header .menu .menu-item.current-menu-item a {
  color: #000;
}

.banner {
  background-color: #00599C;
  color: white;
  padding: 20px 0;
}

.banner img {
  float: right;
}

header, .banner div, footer .footer-content-wrapper, footer .abbreviated-footer {
  width: 70%;
  min-width: 730px;
  max-width: 1000px;
  margin: 0 auto;
}

header .menu, footer .menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

footer {
  background-color: #F5F5F5;
}

footer .footer-content-wrapper, footer .abbreviated-footer {
  padding: 32px 0;
}

footer .footer-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 170px 170px;
  grid-column-gap: 16px;
}

footer .abbreviated-footer {
  display: flex;
  justify-content: space-between;
}

footer .abbreviated-footer * {
  line-height: 22px;
}

footer p {
  margin-top: 0;
}

footer .section-title {
  margin-bottom: 20px;
  line-height: 22px;
}

footer p, footer .menu-item {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 12px;
}

footer p:last-child, footer .menu-item:last-child {
  margin-bottom: 0;
}

* {
  font-family: 'Source Sans Pro';
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 20px;
  line-height: 22px;
}

a {
  font-style: normal;
  color: #636363;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: black;
}