* {
  font-family: 'Source Sans Pro';
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

#menu-top-nav-menu {
  list-style: none;
  padding-left: 0;
}

#menu-top-nav-menu .menu-item {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  color: #6E6E6E;
}

.banner {
  background-color: #00599C;
  color: white;
  padding: 20px 0;
}

.banner div {
  margin: 0 auto;
  max-width: 80%;
}

.banner img {
  float: right;
}