/** Only import styles necessary for block editing **/
/* stylelint-disable */
/* stylelint-enable */
/* stylelint-disable */
/* stylelint-enable */
#editor {
  counter-reset: numbered-section-editor;
}

.numbered-section-block-editor-counter::before {
  /* counter-increment: none; */
  counter-increment: numbered-section-editor;
  content: counter(numbered-section-editor);
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  color: #f5f6fa;
  border: 3px solid #f5f6fa;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  min-width: 30px;
  text-align: center;
  line-height: 24px;
}

.numbered-section-block-editor {
  display: flex;
}

.numbered-section-block-editor-counter,
.numbered-section-block-editor-content {
  display: inline-block;
}

.numbered-section-block-editor-content {
  margin-left: 25px;
  width: 100%;
  margin-top: -28px;
}

/* stylelint-disable */
/* stylelint-enable */
.tile-nav-block-editor .tile, .tile-wrapper .tile {
  border-width: 1px;
  border-style: solid;
  display: grid;
  grid-template-rows: 50px 40px;
  place-content: center center;
  grid-row-gap: 18px;
  box-sizing: border-box;
  border-radius: 2px;
  line-height: 25px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
}
.tile-nav-block-editor .tile:hover, .tile-wrapper .tile:hover {
  cursor: pointer;
}
.tile-nav-block-editor .tile img, .tile-wrapper .tile img {
  margin: 0 auto;
}
.tile-nav-block-editor .tile span, .tile-wrapper .tile span {
  max-width: 115px;
}
.tile-nav-block-editor [target=_blank].tile, .tile-wrapper [target=_blank].tile {
  background-position: 97% 3%;
  background-repeat: no-repeat;
  background-image: url("../images/arrow.svg");
}

.tile-wrapper {
  display: inline-grid;
  grid-template-columns: repeat(4, 224px);
  grid-gap: 16px;
}
@media (width <= 1024px) {
  .tile-wrapper {
    grid-template-columns: repeat(4, 171px);
  }
}
@media (width <= 767px) {
  .tile-wrapper {
    grid-template-columns: repeat(2, calc((100vw - 50px) / 2));
    grid-gap: 10px;
  }
  .home .tile-wrapper {
    grid-template-columns: repeat(2, calc((100vw - 42px) / 2));
  }
}
.tile-wrapper .tile {
  width: 224px;
  height: 200px;
  padding: 14px 33px;
  font-size: 20px;
}
@media (width <= 1024px) {
  .tile-wrapper .tile {
    width: 171px;
    height: 158px;
    padding: 14px 12px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (width <= 767px) {
  .tile-wrapper .tile {
    width: calc((100vw - 50px) / 2);
    height: calc((100vw - 50px) / 2 * 0.9);
  }
  .home .tile-wrapper .tile {
    width: calc((100vw - 42px) / 2);
    height: calc((100vw - 42px) / 2 * 0.9);
  }
}

.tile-wrapper {
  margin: 10px 0 14px;
}
.home .tile-wrapper {
  margin: 16px 0;
}
@media (width <= 767px) {
  .tile-wrapper {
    grid-template-columns: repeat(2, calc((100vw - 50px) / 2));
  }
}

.tile-nav-block-editor .tile {
  width: 224px;
  height: 200px;
  padding: 14px 33px;
  font-size: 20px;
}

@media (width <= 1024px) {
  .tile-nav-block-editor .tile {
    width: 171px;
    height: 158px;
    padding: 14px 12px;
    font-size: 16px;
  }
}
.wp-admin .tile-nav-block-editor .tile {
  width: 171px;
  height: 158px;
  padding: 14px 12px;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}
.tile-nav-block-editor .placeholder {
  color: #b7bccd;
}
.tile-nav-block-editor ::before {
  width: 252px;
}
@media (width <= 1024px) {
  .tile-nav-block-editor ::before {
    width: 180px;
  }
}

/*
 * The block editor adds __layout and __field suffixes.
 * Stylelint warns about these. Silence these warnings.
 */
.tile-nav-section-block-editor .block-editor-block-list__block { /* stylelint-disable-line selector-class-pattern */
  margin: 0;
}
.tile-nav-section-block-editor .block-editor-block-list__layout { /* stylelint-disable-line selector-class-pattern */
  display: grid;
  grid-template-columns: repeat(4, 224px);
  grid-gap: 18px 16px;
}
@media (width <= 1024px) {
  .tile-nav-section-block-editor .block-editor-block-list__layout {
    grid-template-columns: repeat(4, 171px);
  }
}
.wp-admin .tile-nav-section-block-editor .block-editor-block-list__layout {
  grid-template-columns: repeat(4, 171px);
}
.tile-nav-section-block-editor .block-list-appender {
  margin: auto;
}
.tile-nav-section-block-editor .block-list-appender button {
  width: 224px;
  height: 200px;
  margin: auto;
}
@media (width <= 1024px) {
  .tile-nav-section-block-editor .block-list-appender button {
    width: 171px;
    height: 158px;
    font-size: 18px;
  }
}

.tile-nav-block-editor-wrapper[data-type="ctcl-election-website/tile-nav-section-block"]::before {
  width: 972px;
}

.tile-nav-settings .components-base-control__field { /* stylelint-disable-line selector-class-pattern */ }
.tile-nav-settings .components-base-control__field .block-editor-url-input__input { /* stylelint-disable-line selector-class-pattern */
  border: 1px solid #757575;
  border-radius: 2px;
}
.tile-nav-settings .components-base-control__field .block-editor-url-input__input:focus {
  border-color: #007cba;
}
.tile-nav-settings .components-base-control {
  display: block;
  margin-bottom: 16px;
}
.tile-nav-settings .components-base-control .components-base-control__field { /* stylelint-disable-line selector-class-pattern */
  margin-bottom: 0;
}
.tile-nav-settings div[class*=__suggestions] {
  width: auto;
}
.tile-nav-settings .components-panel__row { /* stylelint-disable-line selector-class-pattern */
  display: block;
}
.tile-nav-settings .components-panel__row input[type=email],
.tile-nav-settings .components-panel__row input[type=text] {
  width: 100%;
}
.tile-nav-settings .components-popover:not([data-y-axis=middle])[data-x-axis=left] .components-popover__content { /* stylelint-disable-line selector-class-pattern */
  margin-right: -134px;
}

/* stylelint-disable */
/* stylelint-enable */
main .wp-block-column .office-info {
  margin-top: 40px;
  margin-left: 10px;
}
@media (width <= 767px) {
  main .wp-block-column .office-info {
    margin-left: 45px;
  }
}
main .wp-block-column .office-info h3 {
  margin-bottom: 0;
  margin-top: 32px;
}
main .wp-block-column .office-info h3::before {
  content: "";
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  height: 40px;
  width: 50px;
  margin-left: -40px;
  margin-bottom: -14px;
}
main .wp-block-column .office-info h3 + p {
  margin-top: 0;
  margin-left: 10px;
}
main .wp-block-column .office-info h3.email::before {
  background-image: url("../images/office/email.svg");
}
main .wp-block-column .office-info h3.hours::before {
  background-image: url("../images/office/hours.svg");
}
main .wp-block-column .office-info h3.location::before {
  background-image: url("../images/office/location.svg");
}
main .wp-block-column .office-info h3.phone::before {
  background-image: url("../images/office/phone.svg");
}

.accordion-section-editor .header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}
.accordion-section-editor .header-wrapper img {
  margin-right: 18px;
}
.accordion-section-editor .header-wrapper h2.with-icon {
  flex: 1;
  font-size: 24px;
}
.accordion-section-editor .header-wrapper::after {
  border-style: solid;
  border-width: 0 0 3px 3px;
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  right: 5px;
  position: relative;
  transform: rotate(-45deg);
  vertical-align: top;
  transition: all 0.5s;
  top: 35px;
}

.accordion-group-editor [data-type="ctcl-election-website/accordion-section-block"] {
  border-bottom: 3px solid #18244b;
  margin-top: 0;
  margin-bottom: 0;
}
.accordion-group-editor [data-type="ctcl-election-website/accordion-section-block"]:first-child {
  border-top: 3px solid #18244b;
}
.accordion-group-editor.subsection [data-type="ctcl-election-website/accordion-section-block"] {
  border-bottom: 1px solid #b7bcce;
  margin-top: 0;
  margin-bottom: 0;
}
.accordion-group-editor.subsection [data-type="ctcl-election-website/accordion-section-block"]:last-child {
  border-bottom: none;
}
.accordion-group-editor.subsection .header-wrapper h3 {
  font-size: 18px;
}
.accordion-group-editor.subsection .header-wrapper::after {
  top: 25px;
}

.read-more-block-editor .read-more-divider {
  font-size: 14px;
  font-weight: 600;
  background-color: #f0f0f0;
  color: #a0a0a0;
  text-align: center;
  margin: 10px 0;
}

#editor .wp-block-group {
  border-top-width: 3px;
  border-top-style: solid;
  width: 944px;
}
@media (width <= 1024px) {
  #editor .wp-block-group {
    width: 732px;
  }
}
#editor .wp-block-group,
#editor .wp-block {
  max-width: 944px;
}
@media (width <= 1024px) {
  #editor .wp-block-group,
  #editor .wp-block {
    max-width: 732px;
  }
}