/* stylelint-disable */
/* stylelint-enable */
.tile-wrapper .tile {
  border-width: 1px;
  border-style: solid;
  display: grid;
  grid-template-rows: 50px 40px;
  align-content: center;
  justify-content: center;
  grid-row-gap: 18px;
  box-sizing: border-box;
  border-radius: 2px;
  line-height: 25px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
}

.tile-wrapper .tile:hover {
  cursor: pointer;
}

.tile-wrapper .tile img {
  margin: 0 auto;
}

.tile-wrapper .tile span {
  max-width: 115px;
}

.tile-wrapper .tile[target="_blank"] {
  background-position: 97% 3%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3csvg width='21' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.933 4.666a.688.688 0 00-.688.696c.004.381.313.69.694.694l5.205.022-9.2 9.2c-.27.27-.269.71.004.984a.696.696 0 00.983.004l9.104-9.104.02 4.962c0 .384.311.699.695.703a.689.689 0 00.697-.689v-.008l-.028-6.738a.702.702 0 00-.699-.699l-6.787-.027z' fill='%237F88A4' stroke='%237F88A4' stroke-width='.6'/%3e%3c/svg%3e");
}

.tile-wrapper {
  display: inline-grid;
  grid-template-columns: repeat(4, 224px);
  grid-gap: 16px;
}

@media (max-width: 1024px) {
  .tile-wrapper {
    grid-template-columns: repeat(4, 171px);
  }
}

@media (max-width: 767px) {
  .tile-wrapper {
    grid-template-columns: repeat(2, calc((100vw - 50px) / 2));
    grid-gap: 10px;
  }
  .home .tile-wrapper {
    grid-template-columns: repeat(2, calc((100vw - 42px) / 2));
  }
}

.tile-wrapper .tile {
  width: 224px;
  height: 200px;
  padding: 14px 33px;
  font-size: 20px;
}

@media (max-width: 1024px) {
  .tile-wrapper .tile {
    width: 171px;
    height: 158px;
    padding: 14px 12px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  .tile-wrapper .tile {
    width: calc((100vw - 50px) / 2);
    height: calc((100vw - 50px) / 2 * 0.9);
  }
  .home .tile-wrapper .tile {
    width: calc((100vw - 42px) / 2);
    height: calc((100vw - 42px) / 2 * 0.9);
  }
}

.tile-wrapper {
  margin: 10px 0 14px;
}

.home .tile-wrapper {
  margin: 16px 0;
}

@media (max-width: 767px) {
  .tile-wrapper {
    grid-template-columns: repeat(2, calc((100vw - 50px) / 2));
  }
}

main .wp-block-column .office-info {
  margin-top: 40px;
  margin-left: 10px;
}

@media (max-width: 767px) {
  main .wp-block-column .office-info {
    margin-left: 45px;
  }
}

main .wp-block-column .office-info h3 {
  margin-bottom: 0;
  margin-top: 32px;
}

main .wp-block-column .office-info h3::before {
  content: "";
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  height: 40px;
  width: 50px;
  margin-left: -40px;
  margin-bottom: -14px;
}

main .wp-block-column .office-info h3 + p {
  margin-top: 0;
  margin-left: 10px;
}

main .wp-block-column .office-info h3.email::before {
  background-image: url("../images/office/email.svg");
}

main .wp-block-column .office-info h3.hours::before {
  background-image: url("../images/office/hours.svg");
}

main .wp-block-column .office-info h3.location::before {
  background-image: url("../images/office/location.svg");
}

main .wp-block-column .office-info h3.phone::before {
  background-image: url("../images/office/phone.svg");
}

header .menu, footer .menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

header .menu .menu-item a, footer .menu .menu-item a {
  font-weight: 400;
}

@media (max-width: 767px) {
  header .menu .menu-item a, footer .menu .menu-item a {
    font-weight: 600;
  }
}

.banner p a, main p a,
main ul a {
  font-weight: 600;
  text-decoration: underline;
}

.banner .banner-wrapper {
  margin: 0 auto;
}

@media (min-width: 1025px) {
  .banner .banner-wrapper {
    width: 944px;
  }
}

@media (max-width: 1024px) {
  .banner .banner-wrapper {
    width: 732px;
  }
}

@media (max-width: 767px) {
  .banner .banner-wrapper {
    margin: 0 20px;
    width: calc(100% - 40px);
  }
}

.banner .banner-wrapper p.learn-more {
  margin-top: 1em;
}

.banner .banner-wrapper .button.learn-more {
  border-radius: 20px;
  border: none;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  line-height: 40px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .banner .banner-wrapper .button.learn-more {
    max-width: calc(100% - 90px);
  }
}

.banner p {
  font-size: 18px;
  line-height: 24px;
}

.banner.alert {
  padding: 20px 0;
}

.banner.alert .learn-more {
  margin-left: 10px;
}

.banner.alert .divider {
  padding: 0 5px;
}

@media (max-width: 767px) {
  .banner.alert {
    padding: 8px 0 10px;
  }
}

.banner.major {
  min-height: 100px;
}

.banner.major .banner-wrapper {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 244px;
  /* banner images are 244px */
  grid-column-gap: 100px;
}

@media (max-width: 767px) {
  .banner.major .banner-wrapper {
    grid-template-columns: 1fr;
  }
}

.banner.major .banner-wrapper > :nth-child(1) {
  padding: 30px 0;
}

@media (max-width: 767px) {
  .banner.major .banner-wrapper > :nth-child(1) {
    padding: 20px 0;
  }
}

.banner.major h2 {
  margin-bottom: 8px;
}

.banner.major img {
  align-self: end;
  padding-top: 10px;
}

@media (max-width: 767px) {
  .banner.major img {
    display: none;
  }
}

header .menu, footer .menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

header .menu .menu-item a, footer .menu .menu-item a {
  font-weight: 400;
}

@media (max-width: 767px) {
  header .menu .menu-item a, footer .menu .menu-item a {
    font-weight: 600;
  }
}

.banner p a, main p a,
main ul a {
  font-weight: 600;
  text-decoration: underline;
}

header {
  /* stylelint-disable */
  box-shadow: 0 1px 4px -1px rgba(28, 48, 74, 0.25);
  /* stylelint-enable */
  width: 100%;
  height: 90px;
  z-index: 1;
  position: fixed;
  display: grid;
}

@media (max-width: 767px) {
  .menu header {
    height: 100%;
  }
}

header .header-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  padding: 16px 0;
}

@media (min-width: 1025px) {
  header .header-wrapper {
    width: 944px;
  }
}

@media (max-width: 1024px) {
  header .header-wrapper {
    width: 732px;
  }
}

@media (max-width: 767px) {
  header .header-wrapper {
    margin: 0 20px;
    width: calc(100% - 40px);
  }
}

@media (max-width: 767px) {
  header .header-wrapper {
    display: block;
    width: calc(100% - 40px);
  }
}

header .header-wrapper .mobile-menu {
  justify-self: flex-end;
  margin-left: 10px;
  display: none;
}

@media (max-width: 767px) {
  header .header-wrapper .mobile-menu {
    display: inline-block;
  }
}

header .header-wrapper .icon-bars {
  margin-left: auto;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

header .header-wrapper .icon-bars .icon-bar {
  height: 3px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  backface-visibility: hidden;
  transition: all 0.3s ease;
}

header .header-wrapper .icon-bars .icon-bar.bar-top {
  margin-top: -10px;
  transform: rotate(0);
}

header .header-wrapper .icon-bars .icon-bar.bar-middle {
  opacity: 1;
}

header .header-wrapper .icon-bars .icon-bar.bar-bottom {
  margin-top: 10px;
}

header img,
header .site-title {
  display: inline-block;
}

header img {
  margin-right: 16px;
}

header .site-title-wrapper {
  display: flex;
  align-items: center;
  max-width: 350px;
}

@media (max-width: 767px) {
  header .site-title-wrapper {
    max-width: 100%;
    display: grid;
    grid-template-columns: 80px 1fr 60px;
  }
}

header .site-title-wrapper.no-logo {
  grid-template-columns: 1fr 60px;
}

header .site-title-wrapper .site-title {
  font-weight: 600;
}

@media (max-width: 767px) {
  header .site-title-wrapper .site-title {
    max-width: 210px;
  }
}

header nav {
  display: inline-block;
  justify-self: flex-end;
}

@media (max-width: 767px) {
  header nav {
    display: none;
    width: 100%;
  }
}

.menu header .header-wrapper .icon-bars .bar-top,
.menu header .header-wrapper .icon-bars .bar-bottom {
  margin-top: 0;
}

.menu header .header-wrapper .icon-bars .bar-top {
  transform: rotate(45deg);
}

.menu header .header-wrapper .icon-bars .bar-middle {
  opacity: 0;
}

.menu header .header-wrapper .icon-bars .bar-bottom {
  transform: rotate(-45deg);
}

@media (max-width: 767px) {
  .menu header nav {
    display: inline-block;
  }
}

header .menu .menu-item {
  font-size: 15px;
  line-height: 19px;
  display: inline-block;
  margin-left: 24px;
}

@media (max-width: 767px) {
  header .menu .menu-item {
    display: block;
    font-size: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-left: 0;
  }
}

header .menu .menu-item a {
  position: relative;
}

@media (max-width: 767px) {
  header .menu .menu-item a {
    display: block;
    padding: 30px 0;
  }
}

header .menu .menu-item a::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 0;
  height: 1px;
  transition: width 0.3s ease 0s, width 0.3s ease 0s;
}

@media (max-width: 767px) {
  header .menu .menu-item a::after {
    content: none;
  }
}

header .menu .menu-item a:hover::after {
  width: 100%;
}

header .menu .menu-item.current-menu-item {
  pointer-events: none;
}

header .menu .menu-item.current-menu-item a, header .menu .menu-item.current-page-ancestor a {
  font-weight: 600;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

@media (max-width: 767px) {
  header .menu .menu-item.current-menu-item a, header .menu .menu-item.current-page-ancestor a {
    border: none;
  }
}

header + section,
header + main {
  margin-top: 90px;
}

header .menu, footer .menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

header .menu .menu-item a, footer .menu .menu-item a {
  font-weight: 400;
}

@media (max-width: 767px) {
  header .menu .menu-item a, footer .menu .menu-item a {
    font-weight: 600;
  }
}

.banner p a, main p a,
main ul a {
  font-weight: 600;
  text-decoration: underline;
}

footer .post-edit-link {
  display: none;
}

footer .footer-content-wrapper,
footer .abbreviated-footer {
  margin: 0 auto;
  padding: 32px 0;
}

@media (min-width: 1025px) {
  footer .footer-content-wrapper,
  footer .abbreviated-footer {
    width: 944px;
  }
}

@media (max-width: 1024px) {
  footer .footer-content-wrapper,
  footer .abbreviated-footer {
    width: 732px;
  }
}

@media (max-width: 767px) {
  footer .footer-content-wrapper,
  footer .abbreviated-footer {
    margin: 0 20px;
    width: calc(100% - 40px);
  }
}

footer .footer-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5em;
}

@media (max-width: 767px) {
  footer .footer-content-wrapper {
    grid-template-columns: 1fr;
  }
  footer .footer-content-wrapper .footer-sub-menu {
    display: none;
  }
}

footer .abbreviated-footer {
  display: flex;
  justify-content: space-between;
}

footer .abbreviated-footer * {
  line-height: 22px;
}

footer h3 {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

@media (max-width: 767px) {
  footer h3 {
    border-bottom: 4px solid #18244b;
  }
  footer div + div h3 {
    margin-top: 2em;
  }
}

footer p,
footer .info-item,
footer .menu-item {
  font-size: 14px;
}

footer .office-title {
  font-size: 17px;
  font-weight: 600;
}

footer .info-item,
footer .menu-item {
  line-height: 18px;
  margin-top: 0;
}

footer ul.info-item {
  list-style: none;
  padding-left: 0;
}

footer .hours {
  margin-top: 1em;
}

footer .social a {
  font-weight: 600;
}

footer a:hover {
  text-decoration: underline;
}

.page-news h3 a {
  font-size: 24px;
}

.page-news p + h3::before {
  content: "";
  height: 3px;
  width: 20px;
  display: block;
  margin: 20px 0;
}

figure.wp-block-table {
  margin: 0;
  padding: 8px 0;
}

figure.wp-block-table table {
  border-width: 1px;
  border-style: solid;
  border-spacing: 0;
}

figure.wp-block-table thead {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

figure.wp-block-table th {
  padding: 4px 16px;
}

figure.wp-block-table td {
  padding: 16px;
}

figure.wp-block-table th,
figure.wp-block-table td {
  vertical-align: top;
}

.contact-form {
  width: 90%;
  margin-top: 32px;
}

@media (max-width: 767px) {
  .contact-form {
    width: 100%;
  }
}

.contact-form button {
  border-radius: 20px;
  border: none;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  line-height: normal;
}

.contact-form textarea,
.contact-form select,
.contact-form input[type="tel"],
.contact-form input[type="email"],
.contact-form input[type="text"] {
  font-size: 16px;
  display: block;
  padding: 14px 10px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  -webkit-appearance: none;
          appearance: none;
  width: 100%;
}

@media (max-width: 767px) {
  .contact-form textarea,
  .contact-form select,
  .contact-form input[type="tel"],
  .contact-form input[type="email"],
  .contact-form input[type="text"] {
    width: 100%;
  }
}

.contact-form label {
  margin-bottom: 5px;
  display: inline-block;
}

.contact-form p {
  margin-bottom: 32px;
}

.contact-form p + p {
  margin-top: 25px;
}

.contact-form select {
  -webkit-appearance: none;
          appearance: none;
}

.contact-form select::-ms-expand {
  display: none;
}

.contact-form p.select-wrapper::after {
  border-style: solid;
  border-width: 0 0 3px 3px;
  content: "";
  display: inline-block;
  height: 8px;
  width: 8px;
  right: 14px;
  position: relative;
  transform: rotate(-45deg);
  vertical-align: top;
  float: right;
  bottom: 32px;
  pointer-events: none;
}

.contact-form span.error,
.contact-form p.error {
  font-weight: 600;
  padding: 5px 10px;
  background-image: url("data:image/svg+xml,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='10' cy='10' r='9' stroke='%23ee5c4a' stroke-width='2'/%3e%3cpath fill='%23ee5c4a' d='M9 5h2v7H9zm0 8h2v2H9z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
}

.contact-form p.error {
  background-position: 8px;
  text-indent: 30px;
}

.contact-form span.error {
  display: block;
  background-position: 0;
  text-indent: 20px;
}

@media (max-width: 767px) {
  .page-about-us main img {
    display: none;
  }
}

.page-about-us .wp-block-columns .wp-block-column:last-child {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .page-about-us .wp-block-columns .wp-block-column:last-child {
    justify-content: flex-start;
    border-top-width: 3px;
    border-top-style: solid;
    margin-top: 40px;
  }
}

.upload-wrapper .image-thumbnail {
  display: block;
  margin-top: 20px;
}

.upload-wrapper .button + .button {
  margin-left: 10px;
}

/*
 * Stylelint wants hyphens. Changing TOPIC_LIST_SLUG from ctcl_topic_list to
 * ctcl-topic-list would erase existing topics. Not worth migrating data to
 * fix this warning.
 */
#ctcl_topic_list_wrapper {
  /* stylelint-disable-line selector-id-pattern */
}

#ctcl_topic_list_wrapper > div {
  margin-bottom: 10px;
}

#ctcl_topic_list_wrapper .button {
  margin-left: 10px;
}

@media (min-width: 1025px) {
  .ctcl-settings .form-table textarea,
  .ctcl-settings .form-table input[type="text"],
  .ctcl-settings .form-table input[type="email"],
  .ctcl-settings .form-table input[type="password"],
  .ctcl-settings .form-table input[type="tel"],
  .ctcl-settings .form-table input[type="number"],
  .ctcl-settings .form-table input[type="url"],
  .ctcl-settings .form-table select {
    width: 350px;
  }
}

@media (max-width: 767px) {
  .ctcl-settings .form-table textarea,
  .ctcl-settings .form-table input[type="text"],
  .ctcl-settings .form-table input[type="email"],
  .ctcl-settings .form-table input[type="password"],
  .ctcl-settings .form-table input[type="tel"],
  .ctcl-settings .form-table input[type="number"],
  .ctcl-settings .form-table input[type="url"],
  .ctcl-settings .form-table select {
    width: 100%;
  }
}

header .menu, footer .menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

header .menu .menu-item a, footer .menu .menu-item a {
  font-weight: 400;
}

@media (max-width: 767px) {
  header .menu .menu-item a, footer .menu .menu-item a {
    font-weight: 600;
  }
}

.banner p a, main p a,
main ul a {
  font-weight: 600;
  text-decoration: underline;
}

main {
  font-size: 18px;
  line-height: 28px;
  padding: 32px 0;
}

main ul,
main ol {
  padding-left: 20px;
  margin-top: 0;
}

main ul li,
main ol li {
  line-height: 36px;
}

main h1:first-child,
main h2:first-child,
main h3:first-child,
main h4:first-child,
main h5:first-child,
main h6:first-child {
  margin-top: 0;
}

main p {
  margin: 16px 0;
}

main .wp-block-group {
  padding: 24px 0;
  border-top-width: 3px;
  border-top-style: solid;
}

main .wp-block-group:first-of-type {
  margin-top: 18px;
}

main .wp-block-group :first-child {
  margin-top: 0;
}

main .wp-block-group :last-child:not(.tile-wrapper) {
  margin-bottom: 0;
}

main .wp-block-group h2 {
  margin-bottom: 12px;
}

main hr {
  border-width: 1.5px;
  border-style: solid;
  margin: 30px 0;
}

.home main {
  display: grid;
  justify-content: center;
  padding: 0;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  /* stylelint-disable */
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  /* stylelint-enable */
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

.sticky,
.gallery-caption,
.bypostauthor,
.wp-caption,
.wp-caption-text {
  position: relative;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main {
  counter-reset: numbered-section;
}

.numbered-section {
  display: flex;
  align-items: flex-start;
}

.numbered-section:not(:first-child) {
  margin-top: 18px;
}

.numbered-section::before {
  counter-increment: numbered-section;
  content: counter(numbered-section);
  display: inline-block;
  font-size: 26px;
  font-weight: 600;
  border-width: 3px;
  border-style: solid;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  min-width: 30px;
  text-align: center;
  line-height: 28px;
  margin-top: 8px;
}

.numbered-section .numbered-section-content {
  display: inline-block;
  margin-left: 18px;
  padding-top: 4px;
}

.numbered-section .numbered-section-content:first-child {
  margin-top: 0;
}

.accordion-group:not(.subsection) {
  margin: 24px 0;
}

.accordion-group .accordion-section-wrapper {
  border-top-width: 3px;
  border-top-style: solid;
}

.accordion-group .accordion-section-wrapper:last-child {
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

.accordion-group .accordion-section-wrapper.subsection {
  border-top-width: 1px;
  border-top-style: solid;
}

.accordion-group .accordion-section-wrapper.subsection:first-child {
  border-top: none;
}

.accordion-group .accordion-section-wrapper.subsection:last-child {
  border-bottom: none;
}

.accordion-group .accordion-section-wrapper .accordion-section-header {
  margin: 18px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-group .accordion-section-wrapper .accordion-section-header span {
  flex: 1;
}

.accordion-group .accordion-section-wrapper .accordion-section-header img {
  margin-right: 18px;
}

@media (max-width: 767px) {
  .accordion-group .accordion-section-wrapper .accordion-section-header > img {
    display: none;
  }
}

.accordion-group .accordion-section-wrapper .accordion-section-header.disabled {
  cursor: default;
}

.accordion-group .accordion-section-wrapper .accordion-section-header.disabled::after {
  content: none;
}

.accordion-group .accordion-section-wrapper .accordion-section-header::after {
  border-style: solid;
  border-width: 0 0 3px 3px;
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  right: 5px;
  position: relative;
  transform: rotate(-45deg);
  vertical-align: top;
  transition: all 0.5s;
}

.accordion-group .accordion-section-wrapper h2.accordion-section-header::after {
  top: -3px;
}

.accordion-group .accordion-section-wrapper h2.accordion-section-header.open::after {
  top: 3px;
}

.accordion-group .accordion-section-wrapper h2.with-icon {
  font-size: 24px;
}

.accordion-group .accordion-section-wrapper h3.accordion-section-header::after {
  top: -5px;
}

.accordion-group .accordion-section-wrapper h3.accordion-section-header.open::after {
  top: 3px;
}

.accordion-group .accordion-section-wrapper .accordion-section-header.open::after {
  transform: rotate(-225deg);
}

.accordion-group .accordion-section-wrapper .accordion-section-content {
  padding-bottom: 18px;
}

.accordion-group .accordion-section-wrapper .accordion-section-header:not(.open) + .accordion-section-content {
  display: none;
}

header .menu, footer .menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

header .menu .menu-item a, footer .menu .menu-item a {
  font-weight: 400;
}

@media (max-width: 767px) {
  header .menu .menu-item a, footer .menu .menu-item a {
    font-weight: 600;
  }
}

.banner p a, main p a,
main ul a {
  font-weight: 600;
  text-decoration: underline;
}

.read-more-block > p {
  margin: 20px 0;
}

.read-more-block.less .read-less-link-wrapper {
  display: none;
}

.read-more-block.less .read-more-remaining {
  display: none;
}

.read-more-block.less .read-more-link {
  display: inline-block;
}

.read-more-block:not(.less) .read-more-link {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #18244b;
}

footer {
  background-color: #f5f6fa;
  color: #18244b;
}

footer a {
  color: #18244b;
}

header {
  background-color: #fff;
}

header a {
  color: #18244b;
}

@media (max-width: 767px) {
  header nav {
    background-color: #fff;
  }
  header nav .menu-item {
    border-bottom-color: #b7bccd;
  }
}

header nav.current-menu-item a, header nav.current-page-ancestor a {
  color: #18244b;
  border-bottom-color: #18244b;
}

main p,
main ul {
  color: #464956;
}

main .wp-block-group {
  border-top-color: #18244b;
}

main hr {
  border-color: #18244b;
}

.page-about-us .wp-block-columns .wp-block-column:last-child {
  border-color: #18244b;
}

.page-news p + h3::before {
  background-color: #18244b;
}

.contact-form label {
  color: #18244b;
}

.contact-form textarea,
.contact-form select,
.contact-form input[type="email"],
.contact-form input[type="text"] {
  border-color: #b7bccd;
}

.contact-form textarea.error,
.contact-form select.error,
.contact-form input[type="email"].error,
.contact-form input[type="text"].error {
  border-color: #ee5c4a;
}

.contact-form p.error,
.contact-form span.error {
  color: #ee5c4a;
}

.contact-form p.error {
  background-color: #fdefed;
}

header .menu .menu-item a, footer .menu .menu-item a {
  color: #464956;
}

header .menu .menu-item a::after, footer .menu .menu-item a::after {
  background: #464956;
}

.accordion-group .accordion-section-wrapper {
  border-top-color: #18244b;
}

.accordion-group .accordion-section-wrapper:last-child {
  border-bottom-color: #18244b;
}

.accordion-group .accordion-section-wrapper.subsection {
  border-top-color: #b7bccd;
}

.error404 .button,
.button.learn-more,
.contact-form button {
  color: #fff;
}

.error404 .button:hover,
.button.learn-more:hover,
.contact-form button:hover {
  color: #fff;
}

.banner.alert {
  background-color: #18244b;
}

.banner.alert .banner-wrapper {
  color: #fff;
}

.banner.alert a {
  color: #fff;
}

.banner.banner-dark {
  color: #fff;
}

.banner.banner-dark h2 {
  color: #fff;
}

.banner.banner-dark.major {
  background-color: #18488f;
}

.banner.banner-light {
  color: #18244b;
}

.banner.banner-light h2 {
  color: #18244b;
}

.banner.banner-light.major {
  background-color: #c7e5f8;
}

.tile-wrapper .tile {
  border-color: #b7bccd;
  color: #18244b;
}

#editor .wp-block-group {
  border-top-color: #000;
}

.numbered-section::before {
  border-color: #18244b;
  color: #18244b;
}

figure.wp-block-table table {
  border-color: #f5f6fa;
  color: #18244b;
}

figure.wp-block-table thead {
  background-color: #18488f;
  color: #fff;
}

figure.wp-block-table tr:nth-child(2n) {
  background-color: #f5f6fa;
}

.theme-blue main h3 a,
.theme-blue main p a,
.theme-blue main ul a {
  color: #0b4faf;
}

.theme-blue main h3 a:hover,
.theme-blue main p a:hover,
.theme-blue main ul a:hover {
  color: #093f8c;
}

.theme-blue *:focus {
  outline-color: #55d5f1;
}

.theme-blue .contact-form button {
  background-color: #0b4faf;
}

.theme-blue .contact-form button:hover {
  background-color: #093f8c;
}

.theme-blue .accordion-group .accordion-section-header::after {
  border-color: #0b4faf;
}

.theme-blue .accordion-group .accordion-section-header::after:hover {
  border-color: #093f8c;
}

.theme-blue.error404 .button,
.theme-blue .button.learn-more {
  background-color: #ec5d4f;
}

.theme-blue.error404 .button:hover,
.theme-blue .button.learn-more:hover {
  background-color: #bd4a3f;
}

.theme-blue .alert .learn-more {
  color: #55d5f1;
}

.theme-blue .alert .learn-more:hover {
  color: #44aac1;
}

.theme-blue .tile-wrapper .tile:hover {
  color: #0b4faf;
  box-shadow: 0 0 7px rgba(16, 41, 46, 0.17);
}

.theme-blue .icon-bar {
  background-color: #0b4faf;
}

.theme-green main h3 a,
.theme-green main p a,
.theme-green main ul a {
  color: #15948b;
}

.theme-green main h3 a:hover,
.theme-green main p a:hover,
.theme-green main ul a:hover {
  color: #11766f;
}

.theme-green *:focus {
  outline-color: #67dacc;
}

.theme-green .contact-form button {
  background-color: #15948b;
}

.theme-green .contact-form button:hover {
  background-color: #11766f;
}

.theme-green .accordion-group .accordion-section-header::after {
  border-color: #15948b;
}

.theme-green .accordion-group .accordion-section-header::after:hover {
  border-color: #11766f;
}

.theme-green.error404 .button,
.theme-green .button.learn-more {
  background-color: #15948b;
}

.theme-green.error404 .button:hover,
.theme-green .button.learn-more:hover {
  background-color: #11766f;
}

.theme-green .alert .learn-more {
  color: #67dacc;
}

.theme-green .alert .learn-more:hover {
  color: #44aac1;
}

.theme-green .tile-wrapper .tile:hover {
  color: #15948b;
  box-shadow: 0 0 7px rgba(16, 41, 46, 0.17);
}

.theme-green .icon-bar {
  background-color: #15948b;
}

* {
  font-family: "Source Sans Pro", sans-serif;
}

*:focus {
  outline-width: 1px;
  outline-style: solid;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

body.menu {
  overflow: hidden;
}

body.admin-bar {
  min-height: calc(100vh - 32px);
}

@media screen and (max-width: 600px) {
  body.admin-bar {
    min-height: calc(100vh - 46px);
  }
}

@media screen and (max-width: 600px) {
  html #wpadminbar {
    position: fixed;
  }
}

main {
  margin: 0 auto;
  flex-grow: 1;
  align-items: start;
}

@media (min-width: 1025px) {
  main {
    width: 944px;
  }
}

@media (max-width: 1024px) {
  main {
    width: 732px;
  }
}

@media (max-width: 767px) {
  main {
    margin: 0 20px;
    width: calc(100% - 40px);
  }
}

@media (max-width: 767px) {
  .home main {
    width: 100%;
    margin: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 42px;
  line-height: 58px;
}

h2 {
  font-size: 30px;
  line-height: 38px;
}

header h1,
header .site-title {
  font-size: 20px;
  line-height: 24px;
}

h3 {
  font-size: 18px;
  line-height: 22px;
}

h4 {
  font-size: 16px;
  line-height: 22px;
}

h5 {
  font-size: 14px;
  line-height: 22px;
}

h6 {
  font-size: 16px;
  line-height: 22px;
}

p {
  margin: 0;
}

a {
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}

code {
  font-family: monospace;
  background: #b7bccd;
  padding: 10px;
  display: block;
  margin: 20px 0;
}

.error404 main > img {
  float: right;
  padding-left: 20px;
}

.button {
  border-radius: 20px;
  border: none;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  line-height: normal;
}

.error404 .button {
  display: inline-block;
  margin-top: 1em;
}

#wpadminbar ul#wp-admin-bar-root-default li#wp-admin-bar-edit > a.ab-item::before {
  content: "\f464";
}