.accordion-group {
	&:not(.subsection) {
		margin: 24px 0;
	}

	.accordion-section-wrapper {
		border-top-width: 3px;
		border-top-style: solid;

		&:last-child {
			border-bottom-width: 3px;
			border-bottom-style: solid;
		}

		&.subsection {
			border-top-width: 1px;
			border-top-style: solid;

			&:first-child {
				border-top: none;
			}

			&:last-child {
				border-bottom: none;
			}
		}

		.accordion-section-header {
			margin: 18px 0;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;

			span {
				flex: 1;
			}

			img {
				margin-right: 18px;
			}

			@include breakpoint(phone) {
				> img {
					display: none;
				}
			}

			&.disabled {
				cursor: default;

				&::after {
					content: none;
				}
			}

			&::after {
				border-style: solid;
				border-width: 0 0 3px 3px;
				content: "";
				display: inline-block;
				height: 10px;
				width: 10px;
				right: 5px;
				position: relative;
				transform: rotate(-45deg);
				vertical-align: top;
				transition: all 0.5s;
			}
		}

		h2.accordion-section-header::after {
			top: -3px;
		}

		h2.accordion-section-header.open::after {
			top: 3px;
		}

		h2.with-icon {
			font-size: 24px;
		}

		h3.accordion-section-header::after {
			top: -5px;
		}

		h3.accordion-section-header.open::after {
			top: 3px;
		}

		.accordion-section-header.open::after {
			transform: rotate(-225deg);
		}

		.accordion-section-content {
			padding-bottom: 18px;
		}

		.accordion-section-header:not(.open) + .accordion-section-content {
			display: none;
		}
	}
}
