.accordion-section-editor {

	.header-wrapper {
		display: flex;
		justify-content: space-between;
		margin-top: 18px;

		img {
			margin-right: 18px;
		}

		h2.with-icon {
			flex: 1;
			font-size: 24px;
		}
	}

	.header-wrapper::after {
		border-style: solid;
		border-width: 0 0 3px 3px;
		content: "";
		display: inline-block;
		height: 10px;
		width: 10px;
		right: 5px;
		position: relative;
		transform: rotate(-45deg);
		vertical-align: top;
		transition: all 0.5s;
		top: 35px;
	}
}

.accordion-group-editor {

	[data-type="ctcl-election-website/accordion-section-block"] {
		border-bottom: 3px solid $midnight;
		margin-top: 0;
		margin-bottom: 0;

		&:first-child {
			border-top: 3px solid $midnight;
		}
	}

	&.subsection {

		[data-type="ctcl-election-website/accordion-section-block"] {
			border-bottom: 1px solid #b7bcce;
			margin-top: 0;
			margin-bottom: 0;

			&:last-child {
				border-bottom: none;
			}
		}

		.header-wrapper h3 {
			font-size: 18px;
		}

		.header-wrapper::after {
			top: 25px;
		}
	}
}
