
#editor {
	counter-reset: numbered-section-editor;
}

.numbered-section-block-editor-counter::before {
	/* counter-increment: none; */
	counter-increment: numbered-section-editor;
	content: counter(numbered-section-editor);
	display: inline-block;
	font-size: 20px;
	color: lightgrey;
	border: 3px solid lightgrey;
	font-weight: 600;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	min-width: 30px;
	text-align: center;
	line-height: 24px;
}

.numbered-section-block-editor {
	display: flex;
}

.numbered-section-block-editor-counter,
.numbered-section-block-editor-content {
	display: inline-block;
}

.numbered-section-block-editor-content {
	margin-left: 25px;
	width: 100%;
	margin-top: -28px;
}
