@use "tile-nav-block";
@use "../utility/mixins";
@use "../utility/variables";

%tile-desktop {
	width: variables.$tile-width-desktop;
	height: variables.$tile-height-desktop;
	padding: variables.$tile-padding-desktop;
	font-size: variables.$tile-font-size-desktop;
}

.tile-nav-block-editor {
	.tile {

		@extend %tile-default;
		@extend %tile-desktop;

		@include mixins.breakpoint(tablet) {
			width: variables.$tile-width-tablet;
			height: variables.$tile-height-tablet;
			padding: variables.$tile-padding-tablet;
			font-size: variables.$tile-font-size-tablet;
		}

		.wp-admin & {
			width: variables.$tile-width-tablet;
			height: variables.$tile-height-tablet;
			padding: variables.$tile-padding-tablet;
			font-size: variables.$tile-font-size-tablet;
			font-family: variables.$sans-serif;
		}
	}

	.placeholder {
		color: variables.$grey-medium;
	}

	::before {
		width: 252px;

		@include mixins.breakpoint(tablet) {
			width: 180px;
		}
	}
}

/*
 * The block editor adds __layout and __field suffixes.
 * Stylelint warns about these. Silence these warnings.
 */

.tile-nav-section-block-editor {
	.block-editor-block-list__block { /* stylelint-disable-line selector-class-pattern */
		margin: 0;
	}

	.block-editor-block-list__layout { /* stylelint-disable-line selector-class-pattern */
		display: grid;
		grid-template-columns: repeat(4, variables.$tile-width-desktop);
		gap: 18px 16px;

		@include mixins.breakpoint(tablet) {
			grid-template-columns: repeat(4, variables.$tile-width-tablet);
		}

		.wp-admin & {
			grid-template-columns: repeat(4, variables.$tile-width-tablet);
		}
	}

	.block-list-appender {
		margin: auto;

		button {
			width: variables.$tile-width-desktop;
			height: variables.$tile-height-desktop;
			margin: auto;

			@include mixins.breakpoint(tablet) {
				width: variables.$tile-width-tablet;
				height: variables.$tile-height-tablet;
				font-size: 18px;
			}
		}
	}
}

.tile-nav-block-editor-wrapper[data-type="ctcl-election-website/tile-nav-section-block"]::before {
	width: 972px;
}

.tile-nav-settings {
	// Wordaround for https://github.com/WordPress/gutenberg/issues/25524
	.components-base-control__field { /* stylelint-disable-line selector-class-pattern */

		.block-editor-url-input__input { /* stylelint-disable-line selector-class-pattern */
			border: 1px solid #757575;
			border-radius: 2px;

			&:focus {
				border-color: #007cba;
			}
		}
	}

	.components-base-control {
		display: block;
		margin-bottom: 16px;

		.components-base-control__field { /* stylelint-disable-line selector-class-pattern */
			margin-bottom: 0;
		}
	}

	div[class*="__suggestions"] {
		width: auto;
	}

	.components-panel__row { /* stylelint-disable-line selector-class-pattern */
		display: block;

		input[type="email"],
		input[type="text"] {
			width: 100%;
		}
	}

	.components-popover:not([data-y-axis="middle"])[data-x-axis="left"] .components-popover__content { /* stylelint-disable-line selector-class-pattern */
		margin-right: -134px;
	}
}
