
.accordion-group {
	&:not(.subsection) {
		margin: 24px 0;
	}

	.accordion-section-wrapper {
		border-top-width: 3px;
		border-top-style: solid;

		&:last-child {
			border-bottom-width: 3px;
			border-bottom-style: solid;
		}

		&.subsection {
			border-top-width: 1px;
			border-top-style: solid;

			&:first-child {
				border-top: none;
			}

			&:last-child {
				border-bottom: none;
			}
		}

		.accordion-section-header {
			margin: 18px 0;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			cursor: pointer;
		}

		.accordion-section-header::after {
			border-style: solid;
			border-width: 0 0 3px 3px;
			content: '';
			display: inline-block;
			height: 10px;
			width: 10px;
			right: 5px;
			position: relative;
			transform: rotate(-45deg);
			vertical-align: top;
			transition: all 0.5s;
		}

		h1.accordion-section-header::after {
			top: 0.25em;
		}

		h3.accordion-section-header::after {
			top: 0.25em;
		}

		.accordion-section-header.open::after {
			transform: rotate(-225deg);
		}

		h1.accordion-section-header.open::after {
			top: 0.4em;
		}

		h3.accordion-section-header.open::after {
			top: 0.45em;
		}

		h5.accordion-section-header.open::after {
			top: 0.45em;
		}

		.accordion-section-content {
			padding-bottom: 18px;
		}

		.accordion-section-header:not(.open) + .accordion-section-content {
			display: none;
		}
	}
}
