main {
	counter-reset: numbered-section;
}

.numbered-section {
	display: flex;
	align-items: flex-start;

	&:not(:first-child) {
		margin-top: 18px;
	}

	&::before {
		counter-increment: numbered-section;
		content: counter(numbered-section);
		display: inline-block;
		font-size: 26px;
		font-weight: bold;
		border-width: 3px;
		border-style: solid;
		border-radius: 100%;
		width: 30px;
		height: 30px;
		text-align: center;
		line-height: 28px;
	}

	.numbered-section-content {
		display: inline-block;
		margin-left: 18px;
		padding-top: 4px;

		&:first-child {
			margin-top: 0;
		}
	}
}
