@import '../utility/variables';
@import './tile-nav-block';

%tile-desktop {
	width: $tile-width-desktop;
	height: $tile-height-desktop;
	padding: $tile-padding-desktop;
	font-size: $tile-font-size-desktop;
}

.tile-nav-block-editor {
	.tile {
		@extend %tile-default;
		@extend %tile-desktop;

		@include breakpoint(tablet) {
			width: $tile-width-tablet;
			height: $tile-height-tablet;
			padding: $tile-padding-tablet;
			font-size: $tile-font-size-tablet;
		}

		.wp-admin & {
			width: $tile-width-tablet;
			height: $tile-height-tablet;
			padding: $tile-padding-tablet;
			font-size: $tile-font-size-tablet;
		}
	}

	.placeholder {
		color: $grey-medium;
	}

	::before {
		width: 252px;

		@include breakpoint(tablet) {
			width: 180px;
		}
	}
}

.tile-nav-section-block-editor {
	.block-editor-block-list__block {
		margin: 0;
	}

	.block-editor-block-list__layout {
		display: grid;
		grid-template-columns: repeat(4, $tile-width-desktop);

		@include breakpoint(tablet) {
			grid-template-columns: repeat(4, $tile-width-tablet);
		}

		.wp-admin & {
			grid-template-columns: repeat(4, $tile-width-tablet);
		}

		grid-column-gap: 16px;
		grid-row-gap: 18px;
	}

	.block-list-appender {
		margin: auto;

		button {
			width: $tile-width-desktop;
			height: $tile-height-desktop;

			@include breakpoint(tablet) {
				width: $tile-width-tablet;
				height: $tile-height-tablet;
				font-size: 18px;
			}

			margin: auto;
		}
	}
}

.tile-nav-block-editor-wrapper[data-type="ctcl-election-website/tile-nav-section-block"]::before {
	width: 972px;
}

.tile-nav-settings {
	.components-base-control {
		display: block;
		margin-bottom: 16px;

		.components-base-control__field {
			margin-bottom: 0;
		}
	}

	div[class*="__suggestions"] {
		width: auto;
	}

	.components-panel__row {
		display: block;

		input[type="text"] {
			width: 100%;
		}
	}

	.components-popover:not([data-y-axis="middle"])[data-x-axis="left"] .components-popover__content {
		margin-right: -134px;
	}
}
