$tile-size: 170px;

.tile-wrapper {
	display: inline-grid;
	grid-template-columns: repeat(4, $tile-size);
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	margin: 24px 0;

	@include breakpoint(phone) {
		margin: 0;
		grid-template-columns: repeat(2, $tile-size);
	}

	@media (max-width: 350px) {
		grid-template-columns: repeat(2, 40vw);
	}

	.tile {
		display: grid;
		grid-template-rows: 50px 40px;
		align-content: center;
		justify-content: center;
		grid-row-gap: 8px;
		width: $tile-size;
		height: $tile-size;
		border: 1px solid $tile-border;
		color: $body-highlight;
		box-sizing: border-box;
		border-radius: 2px;
		padding: 14px;
		font-size: 16px;
		line-height: 20px;
		font-weight: 600;
		text-align: center;
		text-decoration: none;

		@media (max-width: 350px) {
			width: 40vw;
			height: 40vw;
		}

		.bounding-box {
			height: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;

			&#register-to-vote {
				background-image: url(../images/tiles/register-to-vote.svg);
			}

			&#vote-by-mail-2 {
				background-image: url(../images/tiles/vote-by-mail-2.svg);
			}

			&#election-results {
				background-image: url(../images/tiles/election-results.svg);
			}

			&#whats-on-the-ballot {
				background-image: url(../images/tiles/whats-on-the-ballot.svg);
			}

			&#polling-locations {
				background-image: url(../images/tiles/polling-locations.svg);
			}

			&#become-a-poll-worker {
				background-image: url(../images/tiles/become-a-poll-worker.svg);
			}

			&#campaign-resources {
				background-image: url(../images/tiles/campaign-resources.svg);
			}

			&#news {
				background-image: url(../images/tiles/news.svg);
			}
		}

		span {
			max-width: 100px;
		}
	}
}
