%tile-default {
	border-width: 1px;
	border-style: solid;
	display: grid;
	grid-template-rows: 50px 40px;
	align-content: center;
	justify-content: center;
	grid-row-gap: 18px;
	box-sizing: border-box;
	border-radius: 2px;
	line-height: 25px;
	font-weight: 600;
	text-align: center;
	text-decoration: none;

	&:hover {
		cursor: pointer;
	}

	img {
		margin: 0 auto;
	}

	span {
		max-width: 115px;
	}

	&[target='_blank'] {
		background-position: 97% 3%;
		background-repeat: no-repeat;
		background-image: svg('assets/images/arrow.svg');
	}
}

%tile-nav-block {
	display: inline-grid;
	grid-template-columns: repeat(4, $tile-width-desktop);
	grid-column-gap: 16px;
	grid-row-gap: 16px;

	@include breakpoint(tablet) {
		grid-template-columns: repeat(4, $tile-width-tablet);
	}

	@include breakpoint(phone) {
		grid-template-columns: repeat(2, $tile-width-mobile);
		grid-column-gap: 10px;
		grid-row-gap: 10px;
	}

	.tile {
		@extend %tile-default;

		width: $tile-width-desktop;
		height: $tile-height-desktop;
		padding: $tile-padding-desktop;
		font-size: $tile-font-size-desktop;

		@include breakpoint(tablet) {
			width: $tile-width-tablet;
			height: $tile-height-tablet;
			padding: $tile-padding-tablet;
			font-size: $tile-font-size-tablet;
			line-height: 20px;
		}

		@include breakpoint(phone) {
			width: $tile-width-mobile;
			height: $tile-height-mobile;
		}
	}
}

.tile-wrapper {
	@extend %tile-nav-block;

	margin: 10px 0 14px;

	.home & {
		margin: 16px 0;
	}

	@include breakpoint(phone) {
		grid-template-columns: repeat(2, $tile-width-mobile);
	}
}
