@import "utility/layout";
@import "utility/typography";

.banner {
	.banner-wrapper {
		@extend %fit-to-page;

		.button.learn-more {
			@include button;

			background-color: $button-bg;
			color: $button-text;
			line-height: 60px;
		}
	}

	p {
		font-size: 16px;
		line-height: 24px;

		a {
			@extend %bold-text-links;
		}
	}

	&.alert {
		background-color: $alert-bg;
		color: $white;
		padding: 20px 0;

		@include breakpoint(phone) {
			padding: 8px 0 10px;
		}

		a {
			color: $white;
		}
	}

	&.major {
		min-height: 100px;
		background-color: $banner-bg;
		color: $banner-font;

		.banner-wrapper {
			display: grid;
			grid-template-columns: 1fr auto;
			grid-column-gap: 100px;

			@include breakpoint(phone) {
				grid-template-columns: 1fr;
			}

			> :nth-child(1) {
				padding: 34px 0;
				justify-content: center;

				@include breakpoint(phone) {
					padding: 20px 0;
				}
			}

			> :nth-child(2) {
				justify-self: baseline;
			}
		}

		h2 {
			margin-bottom: 8px;
		}

		img {
			@include breakpoint(phone) {
				display: none;
			}

			margin-top: 24px;
		}
	}
}
