@import "utility/layout";
@import "utility/typography";

footer {
	background-color: #f5f5f5;

	.footer-content-wrapper,
	.abbreviated-footer {
		@extend %fit-to-page;

		padding: 32px 0;
	}

	.footer-content-wrapper {
		display: grid;
		grid-template-columns: 1fr 170px 170px;
		grid-column-gap: 16px;
	}

	.abbreviated-footer {
		display: flex;
		justify-content: space-between;

		* {
			line-height: 22px;
		}
	}

	p,
	.info-item,
	.menu-item {
		font-size: 14px;
	}

	.section-title {
		margin-bottom: 20px;
		line-height: 22px;
	}

	.info-item,
	.menu-item {
		line-height: 18px;

		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	.menu {
		@extend %wp-menu;
		@extend %wp-menu-links;
	}
}
