@import "utility/layout";
@import "utility/wp-menu";

footer {
    background-color: #F5F5F5;
    .footer-content-wrapper {
        @extend %fit-to-page;
        padding: 32px 0;
        display: grid;
        grid-template-columns: 1fr 170px 170px;
        grid-column-gap: 16px;
    }

    .section-title {
        margin-bottom: 20px;
        margin-top: 0;
        line-height: 22px;
    }

    p, .menu-item {
        font-size: 14px;
        line-height: 18px;
        margin: 12px 0;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .menu {
        @extend %wp-menu;
    }
}