.contact-form {
	button {
		@include button;
	}

	textarea,
	select,
	input[type='text'] {
		width: 75%;
		display: block;
		padding: 5px 10px;
		box-sizing: border-box;
	}
}

.upload-wrapper {
	.image-thumbnail {
		display: block;
		margin-top: 20px;
	}

	.button + .button {
		margin-left: 10px;
	}
}

#topic_list_wrapper {
	> div {
		margin-bottom: 10px;
	}

	.button {
		margin-left: 10px;
	}
}
