.contact-form {
	button {
		@include button;
	}

	textarea,
	select,
	input[type='text'] {
		width: 75%;
		display: block;
		padding: 5px 10px;
		box-sizing: border-box;
		border-width: 1px;
		border-style: solid;
		border-radius: 4px;
	}

	label {
		margin-bottom: 5px;
		display: inline-block;
	}

	p + p {
		margin-top: 25px;
	}
}

.upload-wrapper {
	.image-thumbnail {
		display: block;
		margin-top: 20px;
	}

	.button + .button {
		margin-left: 10px;
	}
}

#ctcl_topic_list_wrapper {
	> div {
		margin-bottom: 10px;
	}

	.button {
		margin-left: 10px;
	}
}

.ctcl-settings {
	.form-table {
		textarea,
		input[type='text'],
		input[type='email'],
		input[type='password'],
		input[type='tel'],
		input[type='number'],
		input[type='url'],
		select {
			@include breakpoint(desktop) {
				width: 350px;
			}

			@include breakpoint(phone) {
				width: 100%;
			}
		}
	}
}
