@import "utility/layout";
@import "utility/wp-menu";

header {
	@extend %fit-to-page;

	display: grid;
	grid-template-columns: max-content 1fr;
	align-items: center;
	padding: 16px 0;

	.site-title-wrapper {
		display: flex;
		align-items: center;
		max-width: 250px;
	}

	img,
	.site-title {
		display: inline-block;
	}

	[class$="-container"] {
		display: inline-block;
		justify-self: flex-end;
	}

	img {
		margin-right: 16px;
	}

	.site-title {
		color: #000;
	}

	.menu {
		@extend %wp-menu;
		@extend %wp-menu-links;

		.menu-item {
			font-size: 15px;
			line-height: 19px;
			display: inline-block;
			margin-left: 24px;

			&.current-menu-item a {
				font-weight: bold;
				color: #000;
			}
		}
	}
}

.banner {
	background-color: #00599c;
	color: white;
	padding: 20px 0;
	min-height: 100px;

	div {
		@extend %fit-to-page;
	}

	img {
		float: right;
		padding-left: 10px;
	}

	h2 {
		margin-bottom: 8px;
	}

	p {
		font-size: 16px;
		line-height: 24px;
	}
}
