@import "utility/typography";

main {
	font-size: 16px;
	line-height: 24px;
	padding: 32px 0;

	p,
	ul {
		color: #636363;

		a {
			@extend %bold-text-links;

			color: #000;
		}
	}

	ul {
		margin: 8px 0;
		padding-left: 0;

		li {
			line-height: 28px;
			list-style-position: inside;
		}
	}

	h3 {
		margin: 20px 0 8px;
	}

	h5 {
		margin: 20px 0 8px;
	}

	p {
		margin: 8px 0;
	}

	.wp-block-group {
		padding: 20px 0;
		border-top: 3px solid #000;

		&:first-of-type {
			margin-top: 18px;
		}

		:first-child {
			margin-top: 0;
		}

		:last-child {
			margin-bottom: 0;
		}
	}
}

main.front-page {
	display: flex;
	justify-content: center;
}
