@import "utility/typography";

main {
	font-size: 18px;
	line-height: 24px;
	padding: 32px 0;

	p,
	ul {
		a {
			@extend %bold-text-links;
		}
	}

	ul,
	ol {
		padding-left: 0;
		margin-top: 0;

		li {
			line-height: 28px;
			list-style-position: inside;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		&:first-child {
			margin-top: 0;
		}
	}

	p {
		margin: 8px 0;
	}

	.wp-block-group {
		padding: 24px 0;
		border-top-width: 3px;
		border-top-style: solid;

		&:first-of-type {
			margin-top: 18px;
		}

		:first-child {
			margin-top: 0;
		}

		:last-child:not(.tile-wrapper) {
			margin-bottom: 0;
		}

		h2 {
			margin-bottom: 12px;
		}
	}

	hr {
		border-width: 1.5px;
		border-style: solid;
		margin: 30px 0;
	}

	.home & {
		display: flex;
		justify-content: center;
		padding: 0;
	}
}
