$white: #fff;
$black: #000;

$rose: #ee5c4a;

$blue-medium: #144691; // homepage banner-only
$blue-dark: #17234c;
$blue-light: #004cb2;

$grey-text: #4e4e4e;

$grey-dark: #d7d8e0;
$grey-medium: #b7bcce;
$grey-light: #f5f6fa;

.scheme-a {
	// headings
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $blue-dark;
	}

	// top nav menu
	header a {
		color: $blue-dark;
	}

	// Page
	main {
		p,
		ul {
			color: $grey-text;

			a {
				color: $blue-light;
			}
		}

		.wp-block-group {
			border-top-color: $blue-dark;
		}

		hr {
			border-color: $blue-dark;
		}
	}

	// Blocks
	.accordion-group {
		.accordion-section-wrapper {
			border-top-color: $blue-dark;

			&:last-child {
				border-bottom-color: $blue-dark;
			}

			&.subsection {
				border-top-color: $grey-dark;
			}

			// arrow
			.accordion-section-header::after {
				border-color: $blue-light;
			}
		}
	}

	// top nav menu
	%wp-menu-links .menu-item a {
		color: $grey-text;
	}

	// button text
	.button.learn-more,
	.contact-form button {
		color: $white;
	}

	// contact form button
	.contact-form button {
		background-color: $blue-dark;
	}

	// banner button
	.banner .button.learn-more {
		background-color: $rose;
	}

	// Banner
	.banner {
		&.alert {
			background-color: $blue-dark;
			color: $white;

			a {
				color: $white;
			}
		}

		&.major {
			background-color: $blue-medium;

			p,
			h2 {
				color: $white;
			}
		}
	}

	// Tiles
	.tile-wrapper .tile {
		border-color: $grey-medium;
		color: $blue-dark;
	}

	// Block editor
	#editor .wp-block-group {
		border-top-color: $black;
	}

	// numbered list
	.numbered-section {
		&::before {
			border-color: $blue-dark;
			color: $blue-dark;
		}
	}

	// Table
	figure.wp-block-table {
		table {
			border-color: $grey-light;
			color: $blue-dark;
		}

		thead {
			background-color: $blue-dark;
			color: $white;
		}

		tr:nth-child(2n) {
			background-color: $grey-light;
		}
	}

	// Header
	header {
		background-color: $white;
	}

	// Footer
	footer {
		background-color: $grey-light;
		color: $blue-dark;
	}
}
