// blue
$a-button-link: #0b4faf;
$a-icon-one: #5cd5ee;
$a-icon-two: #ec5d4f;
$a-icon-three: #b8493e;
$a-banner-bg: #18488f;

// green
$b-button-link: #15948b;
$b-icon-one: #6dd9cc;
$b-icon-two: #fd6d3a;
$b-icon-three: #b04b28;
$b-banner-bg: #c7e3f8;

.theme-blue {
	main {
		p,
		ul {
			a {
				color: $a-button-link;
			}
		}
	}

	// contact form button
	.contact-form button {
		background-color: $a-button-link;
	}

	// arrow
	.accordion-group .accordion-section-header::after {
		border-color: $a-button-link;
	}

	// banner
	.banner {
		color: $white;

		.button.learn-more {
			background-color: $a-icon-two;
		}

		&.major {
			background-color: $a-banner-bg;
		}
	}
}

.theme-green {
	main {
		p,
		ul {
			a {
				color: $b-button-link;
			}
		}
	}

	// contact form button
	.contact-form button {
		background-color: $b-button-link;
	}

	// arrow
	.accordion-group .accordion-section-header::after {
		border-color: $b-button-link;
	}

	// banner
	.banner {
		color: $midnight;

		.button.learn-more {
			background-color: $a-icon-two;
		}

		&.major {
			background-color: $b-banner-bg;
		}
	}
}
