figure.wp-block-table {
	margin: 0;
	padding: 8px 0;

	table {
		border: 1px solid $table-border;
		border-spacing: 0;
		color: $body-highlight;
	}

	thead {
		background-color: $table-header-bg;
		color: $white;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 1px;
	}

	th {
		padding: 4px 16px;
	}

	td {
		padding: 16px;
	}

	tr:nth-child(2n) {
		background-color: $table-row-bg;
	}

	th,
	td {
		vertical-align: top;
	}
}
