
figure.wp-block-table {
	margin: 0;
	padding: 8px 0;

	table {
		border: 1px solid #979797;
		border-spacing: 0;
		color: #1f1f1f;
	}

	thead {
		background-color: #004478;
		color: #fff;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 1px;
	}

	th {
		padding: 4px 16px;
	}

	td {
		padding: 16px;
	}

	tr:nth-child(2n) {
		background-color: #f5f5f5;
	}

	th,
	td {
		vertical-align: top;
	}
}
