@mixin theme($button-link, $banner-button) {
	main {
		p,
		ul {
			a {
				color: $button-link;
			}
		}
	}

	// contact form button
	.contact-form button {
		background-color: $button-link;
	}

	// arrow
	.accordion-group .accordion-section-header::after {
		border-color: $button-link;
	}

	.button.learn-more {
		background-color: $banner-button;
	}
}

// blue
$a-button-link: #0b4faf;
$a-icon-one: #5cd5ee;
$a-icon-two: #ec5d4f;
$a-icon-three: #b8493e;

.theme-blue {
	@include theme($a-button-link, $a-icon-two);
}

// green
$b-button-link: #15948b;
$b-icon-one: #6dd9cc;
$b-icon-two: #fd6d3a;
$b-icon-three: #b04b28;

.theme-green {
	@include theme($b-button-link, $b-button-link);
}
