/** Only import styles necessary for block editing **/
@import "utility/mixins";
@import "blocks/numbered-section-block-editor";
@import "blocks/tile-nav-block-editor";
@import "blocks/office-info";
@import "blocks/accordion-block-editor";

#editor {
	.wp-block-group {
		border-top-width: 3px;
		border-top-style: solid;
	}

	.wp-block-group,
	.wp-block {
		@include breakpoint(tablet) {
			width: $content-width-tablet;
		}

		width: $content-width-desktop;
	}
}
