@import "utility/variables";
@import "utility/mixins";
@import "utility/layout";
@import "blocks/tile-nav-block";
@import "blocks/office-info";
@import "banner";
@import "header";
@import "footer";
@import "table";
@import "form";
@import "page";
@import "blocks/numbered-section-block";
@import "blocks/accordion-block";
@import "colors";
@import "themes";

* {
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

main {
	@extend %fit-to-page;

	flex-grow: 1;
	align-items: start;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	margin: 0;  // remove pipe spacing
}

h1 {
	font-size: 38px;
	line-height: 38px;
}

h2 {
	font-size: 30px;
	line-height: 38px;
}

h3 {
	font-size: 24px;
	line-height: 30px;
}

h4 {
	font-size: 20px;
	line-height: 22px;
}

h5 {
	font-size: 18px;
	line-height: 22px;
}

h6 {
	font-size: 16px;
	line-height: 22px;
}

p {
	margin: 0;  // remove pipe spacing
}

a {
	font-style: normal;
	text-decoration: none;
	cursor: pointer;
}
