@import "utility/variables";
@import "header";

* {
	font-family: 'Source Sans Pro';
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
a {
	font-style: normal;
	color: #636363;
	text-decoration: none; 
	transition: color 0.2s ease;

	&:hover {
		color: darken($color: #636363, $amount: 50%)
	}
}
