@import "utility/variables";
@import "utility/mixins";
@import "utility/layout";
@import "tiles";
@import "banner";
@import "header";
@import "footer";
@import "page";

* {
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	margin: 0;
}

main {
	@extend %fit-to-page;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	margin: 0;  // remove pipe spacing
}

h1 {
	font-size: 38px;
	line-height: 38px;
}

h2 {
	font-size: 30px;
	line-height: 38px;
}

h3 {
	font-size: 24px;
	line-height: 30px;
}

h4 {
	font-size: 20px;
	line-height: 22px;
}

h5 {
	font-size: 16px;
	line-height: 22px;
}

p {
	margin: 0;  // remove pipe spacing
}

a {
	font-style: normal;
	text-decoration: none;
	cursor: pointer;
}
